
.contenedor {
    text-align: center;
    margin: 0 auto;
}

.contenedor input {
    display: initial;
    text-align: center;
    width: 60%;
    font-size: 20px;
    font-weight: bold;
}

.contenedor label {

    text-align: center;
    width: 60%;
    min-width: 100px;
}

:host >>> .alert-custom {
    background-color: #ffadda;
    border-color: #ee0077;
    color: #0e2e49;
    font-weight: bold;
  }