<div class="modal-header">
  <h4 class="modal-title">{{ titulos.principal }}</h4>
</div>

<div class="modal-body">


  <div class="form-row justify-content-between align-items-center">
    <div class="col-md-2 align-middle">
      <span><strong>Agenda Padre:</strong></span>
    </div>
    <div class="col-md-10">     
      <div class="form-row justify-content-between align-items-center">
        <div class="col-md-2">
          <div class="form-row">
            <label for="padre_id" class="col-sm-4 col-form-label col-form-label-sm text-wrap">Id:</label>
            <div class="col-sm">
              <input type="text" class="form-control form-control-sm" id="padre_id" name="padre_id" [(ngModel)]="datos.padre.id" [readonly]="true">
            </div>
          </div>         
        </div>

        <div class="col-md-4">
          <div class="form-row">
            <label for="padre_apertura_fecha" class="col-sm-3 col-form-label col-form-label-sm text-wrap">Apertura:</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-sm" id="padre_apertura_fecha" name="padre_apertura_fecha" [(ngModel)]="datos.padre.apertura_fecha" [readonly]="true">
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="form-row">
            <label for="padre_cierre_fecha" class="col-sm-3 col-form-label col-form-label-sm text-wrap">Cierre:</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-sm" id="padre_cierre_fecha" name="padre_cierre_fecha" [(ngModel)]="datos.padre.cierre_fecha" [readonly]="true">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md">
      <hr class="m-2">
    </div>
  </div>

  <div class="row">
    <div class="col-md text-center">
      <span><strong>{{ titulos.seccion }}</strong></span>
    </div>
  </div>

  <div class="form-row justify-content-between align-items-center py-1">
    <div class="col-md">     
      <div class="form-row justify-content-between align-items-center">
        <div class="col-md-1">
          <div class="form-row">
            <label for="actual_id" class="col-sm-3 col-form-label col-form-label-sm text-wrap">Id:</label>
            <div class="col-sm">
              <input type="text" class="form-control form-control-sm" id="actual_id" name="actual_id" [(ngModel)]="datos.actual.id" [readonly]="true">
            </div>
          </div>         
        </div>

        <div class="col-md-3">
          <div class="form-row">
            <label for="actual_apertura_fecha" class="col-sm-3 col-form-label col-form-label-sm text-wrap">Apertura:</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-sm" id="actual_apertura_fecha" name="actual_apertura_fecha" [(ngModel)]="datos.actual.apertura_fecha">
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="form-row">
            <label for="actual_cierre_fecha" class="col-sm-3 col-form-label col-form-label-sm text-wrap">Cierre:</label>
            <div class="col-sm-9">
              <input type="date" class="form-control form-control-sm" id="actual_cierre_fecha" name="actual_cierre_fecha" [(ngModel)]="datos.actual.cierre_fecha">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-row">
            <label for="actual_responsable" class="col-sm-3 col-form-label col-form-label-sm text-wrap">Responsable:</label>
            <div class="col-sm-9">
              <select  class="form-control form-control-sm" id="actual_responsable" name="actual_responsable" [(ngModel)]="datos.actual.responsable_id">
                <option value="null" disabled>-- Seleccione Responsable --</option>
                <option *ngFor="let elemento of controladorUsaurios.todos; let indice= index" value="{{elemento.id}}">{{elemento.nombres + ' ' + elemento.apellidos}}</option>
              </select>

            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 px-1">
      <div class="row">
        <div class="col-md">
          <span><strong>Seguimientos Disponibles:</strong></span>
        </div>
      </div>      
      <div class="row">
        <div class="col-md ">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col py-1">Unim-Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Actualización</th>
                <th scope="col">Programa</th>
                <th scope="col">Cohorte</th>
                <th scope="col">Sede</th>
                <th scope="col" class="text-center">

                  <ng-container *ngIf="seleccionarTodos.nuevasPersonas; then btn_nuevasPersonas_check_on; else btn_nuevasPersonas_check_off"></ng-container>

                  <ng-template #btn_nuevasPersonas_check_off>
                    <button class="btn btn-sm p-0" placement="top" ngbTooltip="Sel. Todos" (click)="SeleccionarTodos('nuevasPersonas')">
                      <i class="fa fa-circle-o"></i>
                    </button>
                  </ng-template>                      

                  <ng-template #btn_nuevasPersonas_check_on>
                    <button class="btn btn-sm p-0" placement="top" ngbTooltip="Sel. Ninguno" (click)="SeleccionarTodos('nuevasPersonas')">
                      <i class="fa fa-check-circle-o"></i>
                    </button>
                  </ng-template>

                </th>                  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let elemento of listaSegimientosDisponibles; let indiceDisponibles = index">
                <th scope="row">{{ elemento.uniminutoId }}</th>
                <td>{{ elemento.nombreCompleto }}</td>
                <td>{{ elemento.fechaActualizacion }}</td>
                <td>{{ elemento.programa }}</td>
                <td>{{ elemento.cohorte }}</td>
                <td>{{ elemento.sede }}</td>                        
                <td class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck_nuevasPersonas_{{ indiceDisponibles }}" [checked]="elemento.seleccionado">
                    <label class="custom-control-label " for="customCheck_nuevasPersonas_{{ indiceDisponibles }}"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-1">
      <div class="row">
        <div class="col-md">
          <span><strong>Seguimientos Asignados:</strong></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">UniminutoId</th>
                <th scope="col">Nombre</th>
                <th scope="col">Actualización</th>
                <th scope="col">Programa</th>
                <th scope="col">Cohorte</th>
                <th scope="col">Sede</th>
                <th scope="col" class="col-actions">
    <!-- 
                  <ng-container *ngIf="seleccionarTodos.nuevasPersonas; then btn_nuevasPersonas_check_on; else btn_nuevasPersonas_check_off"></ng-container>
    
                  <ng-template #btn_nuevasPersonas_check_off>
                    <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Todos" (click)="SeleccionarTodos('nuevasPersonas')">
                      <i class="fa fa-circle-o"></i>
                    </button>
                  </ng-template>                      
    
                  <ng-template #btn_nuevasPersonas_check_on>
                    <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Ninguno" (click)="SeleccionarTodos('nuevasPersonas')">
                      <i class="fa fa-check-circle-o"></i>
                    </button>
                  </ng-template> -->
    
                </th>                 
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let elemento of FiltrarDatos( controladorAgendamientos.todos , 'agendas_id' , agenda_id); let indiceAgendamientos = index">
                <th scope="row">{{ elemento.seguimientosId }}</th>
                <td>{{ elemento.uniminutoId }}</td>
                <td>{{ elemento.nombreCompleto }}</td>
                <td>{{ elemento.fechaRegistro }}</td>
                <td>{{ elemento.fechaActualizacion }}</td>
                <td>&nbsp;</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary btn-sm py-0 px-1" (click)="ActivarModalHistoricos( modalHistoricosEstudios, 5, elemento.id )"  placement="left" ngbTooltip="Actualización"><i class="fa fa-pencil-square-o"></i></button>
                  <button type="button" class="btn btn-outline-secondary btn-sm py-0 px-1" (click)="EliminarHistorico( elemento.dbRef  )"  placement="left" ngbTooltip="Seguimiento"><i class="fa fa-address-card-o"></i></button>
                </td>                  
              </tr> -->
            </tbody>
          </table>    
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <button type="button" class="btn btn-outline-primary py-0 px-1 my-1 mr-1">Asignar Todos <i class="fa fa-forward"></i></button>
      <button type="button" class="btn btn-outline-primary py-0 px-1 my-1 ml-1">Asignar Seleccionados <i class="fa fa-chevron-circle-right"></i></button>
    </div>
    <div class="col-md-6 text-center">
      <button type="button" class="btn btn-outline-primary py-0 px-1 my-1 mr-1"><i class="fa fa-chevron-circle-left"></i> Retirar Seleccionados</button>
      <button type="button" class="btn btn-outline-primary py-0 px-1 my-1 ml-1"><i class="fa fa-backward"></i> Retirar Todos</button>
    </div>
  </div>

</div>

<div>&nbsp;</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" >Aplicar</button>            
  <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="Cancelar()">Cancelar</button>            
</div>

