
.contenedor {
    text-align: center;
    margin: 0 auto;
}

.contenedor input, select{
    display: initial;
    width: 60%;
}

.contenedor label {
    text-align: left;
    width: 28%;
    min-width: 100px;
}

:host >>> .alert-custom{
    background-color: #ffadda;
    border-color: #ee0077;
    color: #0e2e49;
    font-weight: bold;
    font-size: small;
    text-align: center;
 }
