
<!-- <div class="tituloPrincipal">
    <strong>
        <div class="nombre">S.In.G.U.S</div>
        <div>Sistema de Información de Graduados Uniminuto para Seguimiento</div>
    </strong>
</div> -->

    <!-- contenedor para registro de administrador -->        

  <div *ngIf="servicioAmbiente.inicioPaso == 1" class="container">
      <button class="mibutton" *ngIf="procesando == false" (click)="ActivarRegitroAdministrador()">Registrar Nuevo Administrador</button>
  </div>   


<!-- contenedor para formulario de registro -->
<div *ngIf="servicioAmbiente.inicioPaso == 2">

  <div class="container contenido">
      <div class="tituloSecundario">
          <strong>
                 <div>REGISTRO DE ADMINISTRADOR</div>
          </strong>
          <!-- <div>&nbsp;</div>         -->
      </div>

      <label>Documento :</label>
      <input type="text" class="form-control" [(ngModel)]="datos.documento" placeholder="Ingrese el No. de documento" [pattern]="numeroModelo" #documentoMensaje="ngModel" required>
      <ngb-alert  class="col-md-12" *ngIf="documentoMensaje.errors?.pattern" type="custom" [dismissible]="false">Debe registrar un documento</ngb-alert>               
      <label>Nombres :</label>
      <input type="text" class="form-control" [(ngModel)]="datos.nombres" placeholder="Ingrese los nombres" required>
      <label>Apellidos :</label>
      <input type="text" class="form-control" [(ngModel)]="datos.apellidos" placeholder="Ingrese los apellidos" required>            
      <label>Telefono :</label>
      <input type="text" class="form-control" [(ngModel)]="datos.telefono" placeholder="Ingrese telefono de contacto" [pattern]="numeroModelo" #telefonoMensaje="ngModel" required>     
      <ngb-alert  class="col-md-12" *ngIf="telefonoMensaje.errors?.pattern" type="custom" [dismissible]="false">Debe registrar un telefono</ngb-alert>               
      <label>Correo :</label>
      <input type="email" class="form-control" [(ngModel)]="datos.correo" placeholder="Ingrese el email" [pattern]="correoModelo" #correoMensaje="ngModel" required>
      <ngb-alert  class="col-md-12" *ngIf="correoMensaje.errors?.pattern" type="custom" [dismissible]="false">Debe registrar un correo</ngb-alert>               
  </div>


  <!-- contenedor para opciones o botones de login normal-->

  <div  class="container opcionesPie roundDown">
      <button class="mibutton" *ngIf="procesando == false" (click)="RegistrarAdministrador(confirmador,notificador)">Registrar</button>
      <button class="mibutton" *ngIf="procesando == true" ><i class="fa fa-spinner fa-spin"></i></button>
  </div>

<!-- 
<div style="text-align: center;">
  <div *ngFor="let item of datos | keyvalue">
    {{item.key}}:{{item.value}}
  </div>
  <button class="mibutton"  (click)="RegistrarAdministrador2(confirmador,notificador)">Registrar</button>
</div>



</div>
<!-- emergente para confirmación -->
<ng-template #confirmador let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <p>Esta seguro de crear el administrador '{{ datos.nombres }}'' con documento '{{ datos.documento }}'. Esta acción no se puede reversar.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('SI')">Si</button>            
    <button type="button" ngbAutofocus  class="btn btn-outline-secondary" (click)="modal.dismiss('NO')">No</button>            
  </div>
</ng-template>

<!-- emergente para continuar -->
<ng-template #notificador let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Notificación</h4>
  </div>
  <div class="modal-body">
    <p>Se ha enviado un mensaje a '{{ datos.correo }}' con el codigo de confirmación.</p>
  </div>
  <div class="modal-footer">       
    <button type="button" ngbAutofocus  class="btn btn-danger" (click)="modal.dismiss('CONTINUAR')">Continuar</button>            
  </div>
</ng-template>