  <div class="modal-header">
    <h4 class="modal-title">{{ titulo }} Usuario</h4>
  </div>    

  <div class="modal-body">
    <label>id :</label>
    <input type="text" class="form-control" [(ngModel)]="datos.id" required readonly>

    <label>Documento :</label>
    <input type="text" class="form-control" [(ngModel)]="datos.documento" [pattern]="numeroModelo" #documentoMensaje="ngModel" required>
    <ngb-alert  class="col-md-12" *ngIf="documentoMensaje.errors?.pattern" type="custom" [dismissible]="false">Debe registrar un documento</ngb-alert>               

    <label>Nombres :</label>
    <input type="text" class="form-control" [(ngModel)]="datos.nombres" placeholder="Ingrese los nombres" required>

    <label>Apellidos :</label>
    <input type="text" class="form-control" [(ngModel)]="datos.apellidos" placeholder="Ingrese los apellidos" required>

    <label>Telefono :</label>
    <input type="text" class="form-control" [(ngModel)]="datos.telefono" [pattern]="numeroModelo" #telefonoMensaje="ngModel" required>
    <ngb-alert  class="col-md-12" *ngIf="telefonoMensaje.errors?.pattern" type="custom" [dismissible]="false">Debe registrar un telefono</ngb-alert>      

    <label>Correo :</label>
    <input type="text" class="form-control" [(ngModel)]="datos.correo" [pattern]="correoModelo" #correoMensaje="ngModel" required>
    <ngb-alert  class="col-md-12" *ngIf="correoMensaje.errors?.pattern" type="custom" [dismissible]="false">Debe registrar un correo válido</ngb-alert>      

    <label>Creación :</label>
    <input type="date" class="form-control" [(ngModel)]="datos.creacion_fecha" required readonly>

    <label>Rol:</label>
    <select class="form-control" [(ngModel)]="datos.rol" required>
      <option value='A'>Administrador</option>
      <option value='C'>Coordinador</option>    
      <option value='O'>Operador</option>        
    </select>

    <label>Area:</label>
    <select class="form-control" [(ngModel)]="datos.areas_id" required>
      <option *ngFor="let elemento of  controladorUsuarios.ObtenerForanea('areas').todos; index as indiceAreas" value='{{ elemento.id }}'>{{ elemento.descripcion }}</option>               
    </select>

    <label>Estado:</label>
    <select class="form-control" [(ngModel)]="datos.estado" required>
        <option value='A'>Activo</option>
        <option value='B'>Bloqueado</option>    
        <option value='I'>Inactivo</option>        
    </select>
</div>

<div>&nbsp;</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="Guardar()">Guardar</button>            
  <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="Cancelar()">Cancelar</button>            
</div>