body {font-family: Arial, Helvetica, sans-serif;}

.titulo {
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.titulo .nombre {
   color: #ffce00;
   font-size: 40px ;
}

.container input {
    display: initial;
    width: 70%;
}

.container label {
    width: 28%;
}


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}


.container {
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 450px) {

}