
<div class="titulo">
    <strong>
        <div class="nombre">S.In.G.U.S</div>
        <div>Sistema de Información de Graduados Uniminuto para Seguimiento</div>
    </strong>
</div>


<div *ngIf="procesoLogeo.paso == 2" class="titulo">
    <div>&nbsp;</div>
    <strong>
           <div><i>REGISTRO DE ADMINISTRADOR</i></div>
    </strong>
</div>

    <!-- contenedor para registro de administrador -->        

  <div *ngIf="procesoLogeo.paso == 1" class="container">
      <button class="mibutton" *ngIf="procesando == false" (click)="ActivarRegitroAdministrador()">Registrar Nuevo Administrador</button>
  </div>   


<!-- contenedor para formulario de registro -->
<div *ngIf="procesoLogeo.paso == 2">
  <div class="container">
      <label><b>Documento</b></label>
      <input type="number" class="form-control" [(ngModel)]="documento" placeholder="Ingrese el No. de documento" required>            
      <label><b>Nombres</b></label>
      <input type="text" class="form-control" [(ngModel)]="nombres" placeholder="Ingrese los nombres" required>
      <label><b>Apellidos</b></label>
      <input type="text" class="form-control" [(ngModel)]="apellidos" placeholder="Ingrese los apellidos" required>            
      <label><b>Correo</b></label>
      <input type="email" class="form-control" [(ngModel)]="correo" placeholder="Ingrese el email" required>            
      <label><b>Telefono</b></label>
      <input type="number" class="form-control" [(ngModel)]="telefono" placeholder="Ingrese telefono de contacto" required>     
  </div>


  <!-- contenedor para opciones o botones de login normal-->

  <div  class="container" style="background-color:#e2e2e2ee">
      <button class="mibutton" *ngIf="procesando == false" (click)="RegistrarAdministrador(confirmador,notificador)">Registrar</button>
      <button class="mibutton" *ngIf="procesando == true" ><i class="fa fa-spinner fa-spin"></i></button>
  </div>

</div>
<!-- emergente para confirmación -->
<ng-template #confirmador let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmación</h4>
  </div>
  <div class="modal-body">
    <p>Esta seguro de crear el administrador '{{ nombres }}'' con documento '{{ documento }}'. Esta acción no se puede reversar.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('SI')">Si</button>            
    <button type="button" ngbAutofocus  class="btn btn-outline-secondary" (click)="modal.dismiss('NO')">No</button>            
  </div>
</ng-template>

<!-- emergente para continuar -->
<ng-template #notificador let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Notificación</h4>
  </div>
  <div class="modal-body">
    <p>Se ha enviado un mensaje a '{{ this.correo }}' con el codigo de confirmación.</p>
  </div>
  <div class="modal-footer">       
    <button type="button" ngbAutofocus  class="btn btn-danger" (click)="modal.dismiss('CONTINUAR')">Continuar</button>            
  </div>
</ng-template>