.titulo {
    text-align: center;
    color: white;
}

.titulo .nombre {
   color: #ffce00;
   font-size: 40px ;
}


.container {
    text-align: center;
    margin: 0 auto;
}

.container input {
    display: initial;
    width: 60%;
}

.container label {
    text-align: left;
    width: 28%;
    min-width: 100px;
}