
.contenedor {
    text-align: center;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

.contenedor input {
    display: initial;
    width: 60%;
}

.contenedor label {
    text-align: left;
    /* width: 28%; */
    min-width: 110px;
}

:host >>> .alert-custom {
    background-color: #ffadda;
    border-color: #ee0077;
    color: #0e2e49;
    padding: 0px;
    margin: 0px;
  }