
    <!-- contenedor para login normal -->

    <div class="container contenido ">
        <div class="tituloSecundario">
            <strong>
                    <div>INICIO DE SESION</div>
            </strong>
            <!-- <div>&nbsp;</div> -->
        </div>
        <div *ngIf="hayNotificaion" >
                <!-- <div>&nbsp;</div> -->
                <ngb-alert  type="danger" (close)="CerrarNotificacio()">{{ notificacionMensaje }}</ngb-alert>
        </div>
        <label>Documento</label>
        <input type="string" class="form-control" [(ngModel)]="documento"  [pattern]="documentoModelo" #documentoMensaje="ngModel" required>
        <ngb-alert  *ngIf="documentoMensaje.errors?.pattern" type="custom" [dismissible]="false">Debe registrar un documento</ngb-alert>
        <label>Contraseña</label>
        <input type="password" class="form-control" [(ngModel)]="clave"  required>

    </div>


    <!-- contenedor para opciones o botones de login normal-->
    
    <div class="container opcionesPie ">
        <div *ngIf="procesando == false">
            <button class="mibutton"  (click)="ValidarLogin()">Ingresar</button>
            <div class="recpsw"><span class="link" (click)="LimpiarToken()">LimpiarToken</span></div>
            <div class="recpsw"><span class="link" (click)="RecuperarClave()">Recuperar contraseña</span></div>
        </div>
        <div *ngIf="procesando == true">
            <button class="mibutton"><i class="fa fa-spinner fa-spin"></i></button>
        </div>
    </div>
     
