.recpsw {
    text-align: right;
}

.link {
    cursor: pointer;
}

:host >>> .alert-custom,.alert-danger{
    background-color: #f169b4;
    border-color: #800040;
    color: #00529b;
    font-weight: bold;
    font-size: small;
 }

 :host >>> .alert-custom{
    text-align: center;
 }