.recpsw {
    text-align: right;
}

.link {
    cursor: pointer;
}

:host >>> .alert-custom,.alert-danger{
    background-color: #ffadda;
    border-color: #ee0077;
    color: #0e2e49;
    font-weight: bold;
    font-size: small;
 }

 :host >>> .alert-custom{
    text-align: center;
 }

 