<div class="row justify-content-between">
  <div class="col-md-4">
    <h5>Seguimientos de Agenda No. {{ datosBaseAgenda.agenda_id }} - Nivel {{ agendaEncontrada?datosBaseAgenda.nivel:'-' }} - Distribuciones: {{ agendaEncontrada?datosBaseAgenda.distribuciones:'-'  }}</h5>
  </div>
  <div class="col-md-6">
    <button 
      *ngIf=" agendaEncontrada ? ( ( datosBaseAgenda.creador_id == usuario_id ) && ( datosBaseAgenda.distribuciones == 0 ) ) : false "     
      type="button" class="btn btn-outline-primary py-0 px-1 float-right" 
      (click)="EliminarAgenda( datosAgenda.id )"
    ><i class="fa fa-trash-o"></i> Descartar</button>
    <button 
      *ngIf=" agendaEncontrada ? ( ( datosBaseAgenda.creador_id == usuario_id ) && ( datosBaseAgenda.distribuciones == 0 ) ) : false " 
      type="button" class="btn btn-outline-primary py-0 px-1 mx-1 float-right"
      (click)="ProcesarAgenda('modificar',agenda_id)"
    ><i class="fa fa-pencil-square-o"></i> Modificar</button>
    <button 
      *ngIf=" agendaEncontrada ? ( datosBaseAgenda.nivel < 2 ) && (datosBaseAgenda.creador_id != usuario_id): false "     
      type="button" class="btn btn-outline-primary py-0 px-1 float-right" 
      (click)="ProcesarAgenda('subagendar',agenda_id)"
      ><i class="fa fa-sitemap"></i> Subagendar</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">        
    <table class="table">
      <thead>
        <tr>
          <th scope="col"># Seg.</th>
          <th scope="col">Uni-Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Creación</th>
          <th scope="col">Ultimo Cambio</th>
          <th scope="col">Seguimientos</th>
          <th scope="col" class="col-actions">Acción</th>                  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elemento of ObtenerSeguimientos(); let indiceAgendamientos = index">
          <th scope="row">{{ elemento.id }}</th>
          <td>{{ elemento.uniminutoId }}</td>
          <td>{{ elemento.nombreCompleto }}</td>
          <td>{{ elemento.fechaRegistro }}</td>
          <td>{{ elemento.fechaActualizacion }}</td>
          <td>&nbsp;</td>
          <td>
            <button type="button" class="btn btn-outline-secondary btn-sm py-0 px-1" (click)="ActivarModalHistoricos( modalHistoricosEstudios, 5, elemento.id )"  placement="left" ngbTooltip="Actualización"><i class="fa fa-pencil-square-o"></i></button>
            <button type="button" class="btn btn-outline-secondary btn-sm py-0 px-1" (click)="EliminarHistorico( elemento.dbRef  )"  placement="left" ngbTooltip="Seguimiento"><i class="fa fa-address-card-o"></i></button>
          </td>                  
        </tr>
      </tbody>
    </table>

  </div>
</div>