<div class="container column">
   
  <h1 align='center'>Editar Persona</h1>
          
  <div class="form-group row">
    <div class="col-md-1 form-group column  " >
      <button type="button" class="btn editperson active" (click)="cambiarGrupoDatos(1)">
        <div><img src="../../../../../../assets/imagenes/persona.png" class="img-fluid editperson" alt="Responsive image"></div>
      </button>
      <button type="button" class="btn  editperson" (click)="cambiarGrupoDatos(2)">                
        <div><img src="../../../../../../assets/imagenes/estudios.png" class="img-fluid editperson" alt="Responsive image"></div>
      </button>
      <button type="button" class="btn editperson" (click)="cambiarGrupoDatos(3)">                
        <div><img src="../../../../../../assets/imagenes/trabajo.png" class="img-fluid editperson" alt="Responsive image"></div>
      </button>
      <button type="button" class="btn editperson" (click)="cambiarGrupoDatos(4)">                
          <div><img src="../../../../../../assets/imagenes/logros.png" class="img-fluid editperson" alt="Responsive image"></div>
      </button> 
      <button type="button" class="btn editperson" (click)="cambiarGrupoDatos(5)">                
          <div><img src="../../../../../../assets/imagenes/estadistica.png" class="img-fluid editperson" alt="Responsive image"></div>
      </button>          
    </div>
    <div class=" col-md-11 column infoSpace " >
      <h3>{{ grupoDatos.nombre }}</h3>

      <hr class="my-1">

      <div  *ngIf="grupoDatos.posicion == 1">

        <div class="form-group row mb-2" >

          <div class="col-md-1 px-1">
            <label class="mb-1">Cohorte:</label>
            <input type="text" class="form-control form-control-sm"  disabled>
          </div>

          <div  class="col-md-2 px-1">
            <label class="mb-1"> Sede:</label>
            <select class="form-control form-control-sm" disabled>
              <option value="" disabled >--Seleccione Sede--</option>
              <!-- <option value="{{sedeBase.Id}}" *ngFor="let sedeBase of sedes">{{sedeBase.Descripcion}}</option> -->
            </select>
          </div>
          
          <div class="col-md-5 px-1">
            <label class="mb-1">Titulo :</label>
            <select class="form-control form-control-sm"  disabled>
              <option value="" >--Seleccione titulo--</option>
              <!-- <option value="{{tituloBase.Id}}" *ngFor="let tituloBase of titulos">{{tituloBase.Descripcion}}</option> -->
            </select>
          </div>

          <div class="col-md-4 px-1">
            <label class="mb-1">Programa :</label>
            <select class="form-control form-control-sm" disabled>
              <option value="" >--Seleccione Programa--</option>
              <!-- <option value="{{programaBase.Id}}" *ngFor="let programaBase of programas">{{programaBase.Descripcion}}</option> -->
            </select>
          </div>

        </div>
        <div class="form-group row mb-2">

          <div  class="col-md-1 px-1">
            <label class="mb-1"> Id:</label>
            <input disabled type="text"   class="form-control form-control-sm"  [(ngModel)]="datosPersona.id"  >
          </div>

          <div class="col-md-3 px-1">
            <label class="mb-1">TipoDoc:</label>
            <select disabled class="form-control form-control-sm" [(ngModel)]="datosPersona.tiposdocumentos_id">
              <option disabled value="" >--Seleccione Tipo--</option>
              <option *ngFor="let elemento of controladorPersonas.ObtenerForanea('tiposdocumentos').todos; let indiceTiposDocumentos = index" value="{{elemento.id}}">{{elemento.descripcion}}</option>
            </select>
          </div>

          <div class="col-md-3 px-1">
            <label class="mb-1">Documento :</label>
            <input disabled type="number"   class="form-control form-control-sm"  [(ngModel)]="datosPersona.documento">
          </div>

          <div class="col-md-5 px-1">
            <label class="mb-1">Expedida :</label>
            <select class="form-control form-control-sm" [(ngModel)]="datosPersona.municipios_id" disabled>
              <option value="" disabled >--Seleccione Expedición--</option>
              <option *ngFor="let elemento of controladorPersonas.ObtenerForanea('municipios').todos; let indiceExpedicion = index" value="{{elemento.id}}">{{elemento.descripcion}}</option>              
            </select>
          </div>

        </div>
        <div class="form-group row mb-2">

          <div class="col-md-3 px-1">
            <label class="mb-1">Nombres:</label>
            <input disabled type="text"   class="form-control form-control-sm"   [(ngModel)]="datosPersona.nombres" >
          </div>

          <div class="col-md-3 px-1">
            <label class="mb-1">Apellidos:</label>
            <input disabled type="text"   class="form-control form-control-sm"    [(ngModel)]="datosPersona.apellidos" >
          </div>

          <div class="col-md-2 px-1">
            <label class="mb-1">Genero:</label>
            <select disabled class="form-control form-control-sm" [(ngModel)]="datosPersona.genero">
              <option value="0" disabled >--Seleccione genero--</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>              
            </select>
          </div>

          <div class="col-md-4 px-1">
            <label class="mb-1">Fecha Nacimiento:</label>
            <input type="date" class="form-control form-control-sm " [(ngModel)]="datosPersona.nacimiento_fecha" disabled>
          </div>
          
        </div>      
        <hr class="my-1">
        <div class="form-group row mb-2">

          <div class="col-md-4 px-1">
            <label class="mb-1">Correo Personal:</label>
            <div class="input-group input-group-sm">
              <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="datosPersona.correoPersonal">
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary"  (click)="ActivarModalHistoricos( modalhistoricosPersonal, 1 )"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>

          <div class="col-md-4 px-1">
            <label class="mb-1">Correo Institucional:</label>
            <input disabled type="email" class="form-control form-control-sm" [(ngModel)]="datosPersona.correoInstitucional">
          </div>

          <div class="col-md-4 px-1">
            <label class="mb-1">Direccion Residencia:</label>
            <div class="input-group input-group-sm">
              <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="datosPersona.direccionResidencia">
              <div class="input-group-append">            
                <button type="button" class="btn btn-outline-primary" (click)="ActivarModalHistoricos( modalhistoricosPersonal, 2 )"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group row mb-2">

          <div class="col-md-4 px-1">
            <label class="mb-1">Telefono :</label>
            <div class="input-group input-group-sm">
              <input disabled type="number"   class="form-control form-control-sm" [(ngModel)]="datosPersona.telefonoFijo">
              <div class="input-group-append">              
                <button type="button" class="btn btn-outline-primary" (click)="ActivarModalHistoricos( modalhistoricosPersonal, 3 )"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>

          <div class="col-md-4 px-1">
            <label class="mb-1">Celular :</label>
            <div class="input-group input-group-sm">
              <input  disabled type="number"   class="form-control form-control-sm" [(ngModel)]="datosPersona.telefonoCelular">
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary" (click)="ActivarModalHistoricos( modalhistoricosPersonal, 4 )"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>

          <div class="col-md-4 px-1">
            <label class="mb-1">Municipio de Residencia:</label>
            <input disabled type="text"   class="form-control form-control-sm" [(ngModel)]="datosPersona.municipioResidencia">            
          </div>

        </div>
        
      </div>

      <div  *ngIf="grupoDatos.posicion == 2">

        <div class="row">

          <div class="col">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Institucion</th>
                  <th scope="col">Fecha de drado</th>
                  <th scope="col">Mecanismo de grado</th>
                  <th scope="col">Fecha de registro</th>                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Markkkkkkkkkkkk</td>
                  <td>Ottoooooooooooo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <button type="button" class="btn btn-outline-primary" (click)="agregarInfo(agregadorCantidad, 5)"><i class="fa fa-plus"></i>Agregar</button>
          
          </div>

        </div>

      </div>

      <div *ngIf="grupoDatos.posicion == 3">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cargo</th>
              <th scope="col">Empresa</th>
              <th scope="col">Tiempo laburado</th>
              <th scope="col">Relacion con el estudio</th>
              <th scope="col">Ingresos mensuales</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Markkkkkkkkkkkk</td>
              <td>Ottoooooooooooo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <button type="button" class="btn btn-outline-primary" (click)="agregarInfo(agregadorCantidad, 6)"><i class="fa fa-plus"></i>Agregar</button>

      </div>

      <div  *ngIf="grupoDatos.posicion == 4">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Reconocimiento</th>
              <th scope="col">Motivo</th>
              <th scope="col">Institucion</th>
              <th scope="col">Fecha de reconocimiento</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Markkkkkkkkkkkk</td>
              <td>Ottoooooooooooo</td>
              <td>@mdoooooooooooo</td>
              <td>@mdo</td>
          
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-outline-primary" (click)="agregarInfo(agregadorCantidad, 7)"><i class="fa fa-plus"></i>Agregar</button>
        <hr>
        <h4>Comunidades academicas y asociaciones</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Sector</th>
              <th scope="col">Tipo</th>
              <th scope="col">Internacionalización</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tiempo en la asociacion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Markkkkkkkkkkkk</td>
              <td>Ottoooooooooooo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-outline-primary" (click)="agregarInfo(agregadorCantidad, 8)"><i class="fa fa-plus"></i>Agregar</button>

      </div>

      <div  *ngIf="grupoDatos.posicion == 5">

        <div class="form-group row" >
          <div class="col-md-4">
            <label class="mb-1">Fcha de actualizacion de datos:</label>
            <input type="date"   class="form-control form-control-sm"    [(ngModel)]="fechaActualizacion" >
          </div>
          <div class="col-md-4">
            <label class="mb-1">Registro bienestar:</label>
            <input type="text"   class="form-control form-control-sm"    [(ngModel)]="bienestar" >
          </div>
          <div class="col-md-4">
            <label class="mb-1">Encuesta OLE:</label>
            <input type="text"   class="form-control form-control-sm"    [(ngModel)]="encuentaOle" >
          </div>      
        </div>

      </div>

    </div>  
  </div>
  <div class="buttonDown">
    
    <button type="button" class="btn btn-outline-dark buttonGeneral" (click)="Regresar()">Regresar</button>

    <!-- <button type="button" class="btn btn-primary " (click)="GuardarAsociado()">Guardar</button> -->
    <!-- <button *ngIf="datosAmbiente.actualizacionModo.boton ==1" type="button" class="btn btn-primary butonGeneral" (click)="Actualizar()">Actualizar</button> -->

  </div>




<!-- Modal de informacion personal -->

  <ng-template #modalhistoricosPersonal let-modal>

      <div class="modal-header"> <h4 class="modal-title"> {{ tituloHistorico }}</h4> </div>
      <div class="modal-body container">       
        <div class="row"> <div class="col"> <h5 align="center">Historico</h5> </div>  </div>
        <div class="row">

          <div class="col">

            <table class="table table-striped table-sm" [ngSwitch]="tipoHistorico">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">
                    <ng-container *ngSwitchCase="1" > Correo    </ng-container>
                    <ng-container *ngSwitchCase="2" > Dirección </ng-container>
                    <ng-container *ngSwitchCase="3" > Telefono  </ng-container>
                    <ng-container *ngSwitchCase="4" > Celular   </ng-container>
                  </th>
                  <th scope="col">Municipio</th>                  
                  <th scope="col">Fecha</th>
                  <th scope="col" class="accion">Accion</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor=" let elemento of ObtenerParametroHistorico('lista'); let indiceHistoricos= index ">
                  <tr *ngIf="(tipoHistorico == 1 && elemento.tipo == 'P') || (tipoHistorico == 2 ) || (tipoHistorico == 3 && elemento.tipo == 'F') || (tipoHistorico == 4 && elemento.tipo == 'C')">
                    <th scope="row">{{ elemento.id }} </th>
                    <td>
                      <ng-container *ngSwitchCase="1" > {{ elemento.correo    }} </ng-container>
                      <ng-container *ngSwitchCase="2" > {{ elemento.direccion }} </ng-container>                      
                      <ng-container *ngSwitchCase="3" > {{ elemento.numero    }} </ng-container>
                      <ng-container *ngSwitchCase="4" > {{ elemento.numero    }} </ng-container>                                                                            
                    </td>
                    <td *ngSwitchCase="2"> {{ elemento.municipios_id }} </td>
                    <td> {{ elemento.registro_fecha }} </td>
                    <td>
                      <div *ngIf=" elemento.id; then thenBlock_1 else elseBlock_1 "></div>
                      <ng-template #thenBlock_1>&nbsp;</ng-template>
                      <ng-template #elseBlock_1>
                        <button type="button" class="btn btn-outline-primary btn-sm py-0 px-1" (click)="EliminarHistorico( elemento.dbRef  )"><i class="fa fa-minus"></i></button>   
                      </ng-template>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="nuevoValorHistorico['valorA']" [placeholder]="'Ingrese su nuevo '+ ObtenerParametroHistorico('descripcionA')"  #controlMensaje="ngModel" [pattern]="ObtenerParametroHistorico('modeloValidacionA')" required>
              <div class="input-group-append">           
                <button type="button" class="btn btn-primary" (click)="AgregarHistorico()" [disabled]="controlMensaje.errors?.pattern || nuevoValorHistorico['valorA']=='' || ( nuevoValorHistorico['valorB']=='' && tipoHistorico == 2 ) ">Agregar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf=" tipoHistorico == 2 ">
          <div class="col">
            
            <div class="row">
              <div class="col">   
                <select  class="form-control form-control-sm" [(ngModel)]="nuevoValorHistorico['valorD']">
                  <option value="" disabled >--Seleccione Pais--</option>
                  <option *ngFor="let elementoP of controladorDirecciones.ObtenerForanea('municipios').ObtenerForanea('departamentos').ObtenerForanea('paises').todos; let indicePaises = index" value="{{elementoP.id}}">{{elementoP.descripcion}}</option>              
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col">   
                <select  class="form-control form-control-sm" [(ngModel)]="nuevoValorHistorico['valorC']">
                  <option value="" disabled >--Seleccione Departamento--</option>
                  <option *ngFor="let elementoD of FiltrarDatos( controladorDirecciones.ObtenerForanea('municipios').ObtenerForanea('departamentos').todos , 'paises_id' , nuevoValorHistorico['valorD']); let indiceDepartamentos = index" value="{{elementoD.id}}">{{elementoD.descripcion}}</option>              
                </select>
              </div>    
            </div>
            
            <div class="row">
              <div class="col">   
                <select  class="form-control form-control-sm" [(ngModel)]="nuevoValorHistorico['valorB']">
                  <option value="" disabled >--Seleccione Municipio--</option>
                  <option *ngFor="let elementoM of FiltrarDatos( controladorDirecciones.ObtenerForanea('municipios').todos , 'departamentos_id' , nuevoValorHistorico['valorC']); let indiceMunicipio = index" value="{{elementoM.id}}">{{elementoM.descripcion}}</option>              
                </select>
              </div>
            </div>

          </div>  
        </div>

        <div *ngIf=" tipoHistorico != 2 then thenBlock_2 else elseBlock_2 "></div>
        <ng-template #thenBlock_2>
          <div class="row"> <div class="col"> <ngb-alert class="py-1" *ngIf="controlMensaje.errors?.pattern || nuevoValorHistorico['valorA']=='' " type="custom" [dismissible]="false">Debe registrar un {{ ObtenerParametroHistorico('descripcionA') }}</ngb-alert>  </div>  </div>
        </ng-template>
        <ng-template #elseBlock_2>
          <div class="row"> <div class="col"> <ngb-alert class="py-1" *ngIf="controlMensaje.errors?.pattern || nuevoValorHistorico['valorA']=='' || nuevoValorHistorico['valorB']==''" type="custom" [dismissible]="false">Debe registrar una {{ ObtenerParametroHistorico('descripcionA') }} y un {{ ObtenerParametroHistorico('descripcionB') }}</ngb-alert>  </div>  </div>
        </ng-template>        
        
      </div>
      <div class="modal-footer "> <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="modal.dismiss('NO')">Atras</button> </div>


  </ng-template>





    <!-- modal para informacion como estudios o trabajos -->
    <!-- <ng-template #agregadorCantidad let-modal>

      <div *ngIf="tipoInformacion == 5">     
         <div class="modal-header">
          <h4 class="modal-title">Agregar Estudio</h4>
        </div>
        <div   class="modal-body infoSpace " >
         
            <div class="form-group row" >
                <div class="col-md-6">
                  <label >Titulo:</label>
                  <textarea type="textarea" class="form-control form-control-sm"  [(ngModel)]="descripcionProyecto" value="BICIBAGUÉ: Iniciativa que busca incentivar la práctica del tursimo en bicicleta, el desarrollo social y la tecnología">
                  </textarea>
                </div>
                <div class="col-md-6">
                    <label >Institucion:</label>
                    <textarea type="textarea" class="form-control form-control-sm"  [(ngModel)]="descripcionPrograma" value="BICIBAGUÉ: Iniciativa que busca incentivar la práctica del tursimo en bicicleta, el desarrollo social y la tecnología">
                    </textarea>
                </div>
            </div>
            <div class="form-group row" >
                <div class="col-md-6">
                  <label >Mecanismo de graduación:</label>
                  <textarea type="textarea" class="form-control form-control-sm"  [(ngModel)]="descripcionProyecto" value="BICIBAGUÉ: Iniciativa que busca incentivar la práctica del tursimo en bicicleta, el desarrollo social y la tecnología">
                  </textarea>
                </div>
                <div class="col-md-6">
                    <label >Descripción del mecanismo /Programa:</label>
                    <textarea type="textarea" class="form-control form-control-sm"  [(ngModel)]="descripcionPrograma" value="BICIBAGUÉ: Iniciativa que busca incentivar la práctica del tursimo en bicicleta, el desarrollo social y la tecnología">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="modal.dismiss('NO')">Atras</button> 
            <button type="button" class="btn btn-primary" (click)="modal.close('SI')">Agregar</button>            
        </div>
      </div>

      <div *ngIf="tipoInformacion == 6">     
          <div class="modal-header">
           <h4 class="modal-title">Agregar Trabajo</h4>
         </div>
         <div   class="modal-body infoSpace " >
            <div class="form-group row"  >
                <div class="col-md-4">
                  <label >Cargo :</label><br/>
                  <textarea type="textarea" class="form-control form-control-sm"  [(ngModel)]="empleoDirecctamente" value="BICIBAGUÉ: Iniciativa que busca incentivar la práctica del tursimo en bicicleta, el desarrollo social y la tecnología"></textarea>
                </div>
                <div class="col-md-4">
                  <label >Empresa :</label><br/>
                  <textarea type="textarea" class="form-control form-control-sm"  [(ngModel)]="empleoRelacionado" value="BICIBAGUÉ: Iniciativa que busca incentivar la práctica del tursimo en bicicleta, el desarrollo social y la tecnología"></textarea>
                </div>
                <div class="col-md-4">
                  <label >Tiempo laburado :</label><br/>
                  <textarea type="number" class="form-control form-control-sm"  [(ngModel)]="empleoNoRelacionado" value="BICIBAGUÉ: Iniciativa que busca incentivar la práctica del tursimo en bicicleta, el desarrollo social y la tecnología"></textarea>
                </div>
            </div>
            <div class="form-group row"  >
                <div class="col-md-3">
                    <label >Relacion con el estudio:</label> <br/>
                    <div class="row">
                      <div class="col">
                        <div ngbDropdown class="d-inline-block">
                          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Seleccionar</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Alta</button>
                            <button ngbDropdownItem>Media</button>
                            <button ngbDropdownItem>Baja</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label >Total Ingresos Mensuales :</label><br/>
                    <input type="number"   class="form-control form-control-sm"    [(ngModel)]="salario" >
                </div>
            </div>
          </div>
         <div class="modal-footer">
             <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="modal.dismiss('NO')">Atras</button> 
             <button type="button" class="btn btn-primary" (click)="modal.close('SI')">Agregar</button>            
         </div>
       </div>

       <div *ngIf="tipoInformacion == 7">     
          <div class="modal-header">
           <h4 class="modal-title">Agregar Reconocimiento</h4>
         </div>
         <div   class="modal-body infoSpace " >
            <div class="form-group row" > 
                <div class="col-md-4">
                        <label class="mb-1">Reconocimiento otorgado:</label>
                        <input type="text"   class="form-control form-control-sm"    [(ngModel)]="reconocimiento" >
                </div>
                <div class="col-md-4">
                        <label class="mb-1">Motivo del reconocimiento:</label>
                        <input type="text"   class="form-control form-control-sm"    [(ngModel)]="motivo" >
                </div>
                <div class="col-md-4">
                        <label class="mb-1">Institución que reconoce:</label>
                        <input type="text"   class="form-control form-control-sm"    [(ngModel)]="otorgaReconocimiento" >
                </div>
              </div>

         </div>
         <div class="modal-footer">
             <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="modal.dismiss('NO')">Atras</button> 
             <button type="button" class="btn btn-primary" (click)="modal.close('SI')">Agregar</button>            
         </div>
       </div>

       <div *ngIf="tipoInformacion == 8">     
          <div class="modal-header">
           <h4 class="modal-title">Agregar asociacion</h4>
         </div>
         <div   class="modal-body infoSpace " >
            <div class="form-group row" >
                <div class="col-md-4">
                    <label class="mb-1">Sector:</label>
                    <input type="text"   class="form-control form-control-sm"    [(ngModel)]="sector" >
                </div>
                <div class="col-md-3">
                    <label >Tipo:</label><br/>
                    <div class="row">
                      <div class="col">
                        <div ngbDropdown class="d-inline-block">
                          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Seleccionar</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Comunidad academica</button>
                            <button ngbDropdownItem>Asociación</button>
                            <button ngbDropdownItem>otro</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label >Internacionalización :</label><br/>
                    <div class="row">
                      <div class="col">
                        <div ngbDropdown class="d-inline-block">
                          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Seleccionar</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Internacional</button>
                            <button ngbDropdownItem>Nacional</button>
                            <button ngbDropdownItem>Departamental</button>
                            <button ngbDropdownItem>Municipal</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div> 
                <div class="col-md-2">
                  <label class="mb-1">Tiempo (años):</label>
                  <input type="number"   class="form-control form-control-sm"    [(ngModel)]="sector" >
              </div>
            </div>

            <div class="form-group row" >
                <div class="col-md-12">
                    <label class="mb-1">Nombre:</label>
                    <input type="text"   class="form-control form-control-sm"    [(ngModel)]="sector" >
                </div>
            </div>
         </div>
         <div class="modal-footer">
             <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="modal.dismiss('NO')">Atras</button> 
             <button type="button" class="btn btn-primary" (click)="modal.close('SI')">Agregar</button>            
         </div>
       </div>

    </ng-template> -->


</div>
