<div class="container column">
    <div class="form-group row justify-content-center">
            <h1 > Creación de agendas </h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Fecha de Inicio : </span>
                </div>
                <input type="date" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="apertura_fecha">
            </div>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Fecha de Finalización : </span>
                </div>
                <input type="date" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="cierre_fecha">
            </div>
        </div>
    </div>
    <div clas="container ">
        <div class="row">
            <div class="col-md-9 agendaSpace ">
                <div class="row ">
                    <div  class="col " >
                        <div class="row">
                            <div class="col menospadding">
                                <form >
                                    <div class="form-group form-inline form ">
                                        <div class="col-md-1">
                                            <div class="row justify-content-center">
                                                <i class="fa fa-search search "></i> 
                                                <p class="buscar">Buscar:</p> 
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" type="text" [formControl]="filterAgendados"/>
                                        </div>  
                                        <div class="col offset-md-5">
                                            <button type="button" class="btn btn-outline-primary " (click)="ActivarModal(modalAgendados ,  2)"><i class="fa fa-plus"></i>Agregar personas</button>
                                        </div>       
                                    </div>
                                </form>
                                
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col menospadding">
                                <table class="table table-striped">
                                    <thead class="thead">
                                    <tr>

                                        <th scope="col">Id Uniminuto</th>
                                        <th scope="col">Documento</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Programa</th>
                                        <th scope="col">
                                            <ng-container *ngIf="seleccionarTodos.nuevosAgendados; then btn_nuevosAgendados_check_on; else btn_nuevosAgendados_check_off"></ng-container>

                                            <ng-template #btn_nuevosAgendados_check_off>
                                              <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Todos" (click)="SeleccionarTodos('nuevosAgendados')">
                                                <i class="fa fa-circle-o"></i>
                                              </button>
                                            </ng-template>                      
                      
                                            <ng-template #btn_nuevosAgendados_check_on>
                                              <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Ninguno" (click)="SeleccionarTodos('nuevosAgendados')">
                                                <i class="fa fa-check-circle-o"></i>
                                              </button>
                                              <button class="btn btn-sm" placement="left" ngbTooltip="Eliminar todos" (click)="EliminarTodos()">
                                                <i class="fa fa-minus-circle"></i>
                                              </button>
                                            </ng-template>  
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let agendado of  agendados$ | async; index as i">
                                                <td><ngb-highlight [result]="agendado.iduniminuto | number" [term]="filterAgendados.value"></ngb-highlight></td>
                                                <td><ngb-highlight [result]="agendado.documento | number" [term]="filterAgendados.value"></ngb-highlight></td>
                                                <td><ngb-highlight [result]="agendado.nombreCompleto " [term]="filterAgendados.value"></ngb-highlight></td>
                                                <td><ngb-highlight [result]="agendado.programa " [term]="filterAgendados.value"></ngb-highlight></td>
                                                <td >
                                                    <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck_nuevoSeguimiento" [(ngModel)]="agendado.seleccionado">
                                                    <label class="custom-control-label " for="customCheck_nuevoSeguimiento" ></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01" >Rol</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01"  [(ngModel)]="rol" >
                              <option value="A">Administrador</option>
                              <option value="C">Coordinador</option>
                              <option value="O">Operador</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <input disabled type="text" class="form-control" placeholder="Responsable">
                            <div class="input-group-append">            
                              <button type="button" class="btn btn-outline-primary" (click)="ActivarModal(modalResponsables , 2)" [disabled]="rol == null"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col marginTable">
                        <table class="table table-striped">
                            <thead class="thead">
                            <tr>
                                <th scope="col">Seleccionado</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ responsableSelecionado.nombres }}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <button class="btn btn-outline-info btn-lg btn-block buttonGeneral" (click)="Limpiar()" >limpiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="row button justify-content-end">
        <div class= col>
            <button class="btn btn-primary buttonGeneral" (click)="CrearAgenda()" >Guardar</button>
            <button class="btn btn-outline-dark buttonGeneral"  (click)="Cancelar()" >Cancelar</button>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<!-- Modal para responsables -->

<ng-template #modalResponsables let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Responsables</h4>
 
    </div>
    <div class="modal-body">
            <div class="row">
                <div class="col">
                    <form >
                        <div class="form-group form-inline form ">
                            <div class="col-md-1">
                                <div class="row justify-content-center">
                                    <p class="buscar">Buscar:</p> 
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" [formControl]="filterResponsables"/>
                            </div>      
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Documento</th>
                                <th scope="col">Nombres y apellidos</th>
                                <th scope="col">Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let persona of  responsables$ | async; index as i">
                            <td><ngb-highlight [result]="persona.id | number" [term]="filterResponsables.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.documento | number" [term]="filterResponsables.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.nombres  + ' ' + persona.apellidos  " [term]="filterResponsables.value"></ngb-highlight></td>
                            <td >
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck_nuevasPersonas" >
                                  <label class="custom-control-label " for="customCheck_nuevasPersonas"  (click)="SeleccionResponsable( persona.id , persona.nombres  + ' ' + persona.apellidos)"></label>
                                </div>
                            </td>
                            </tr>
                        </tbody>
                    </table>     
                </div>
            </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Aceptar</button>
    </div>
  </ng-template>

<!-- Modal para personas -->
  <ng-template #modalAgendados let-modal>
    <div class="modal-header">
      <h3 class="modal-title">Agendados</h3>
    </div>
    <div class="modal-body">
            <div class="row justify-content-center">
                <h4>Filtros</h4>
            </div>
            <div class="row">
                <div class="col" >
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Sede</label>
                        </div>
                                <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="sedeid" (click)="AgregarFiltro('sede')">
                                    <option selected disabled>-Seleccione sede-</option>  
                                    <option value="-1" >Todos</option>
                                    <option *ngFor="let sede of  controladorSedes.todos " value="{{sede.id}}" >{{sede.descripcion}}</option>
                                </select>
                      </div>
                </div>
                <div class="col" >
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect02">Cohorte</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="cohorteid" (click)="AgregarFiltro('cohorte')">
                          <option selected disabled>-Seleccione cohorte-</option>  
                          <option value="-1" >Todos</option>
                          <option *ngFor="let cohorte of  controladorCohortes.todos " value="{{cohorte.id}}"> {{cohorte.descripcion}}</option>
                        </select>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect03">Programa</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect03" [(ngModel)]="programaid" (click)="AgregarFiltro('programa')">
                        <option selected disabled>-Seleccione programa-</option>  
                        <option value="-1">Todos</option>
                        <option *ngFor="let programa of  controladorProgramas.todos " value="{{programa.id}}"  >{{programa.descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <h4>Personas encontradas</h4>
            </div>
            <div class="row">
                <div class="col">
                    <form >
                        <div class="form-group form-inline form ">
                            <div class="col-md-1">
                                <div class="row justify-content-center">
                                    <p class="buscar">Buscar:</p> 
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" [formControl]="filterPersonas"/>
                            </div>      
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Id Uniminuto</th>
                                <th scope="col">Documento</th>
                                <th scope="col">Nombres y apellidos</th>
                                <th scope="col">Programa</th>
                                <th scope="col">Cohorte</th>
                                <th scope="col">Sede</th>
                                <th scope="col">
                                    <ng-container *ngIf="seleccionarTodos.nuevasPersonas; then btn_nuevasPersonas_check_on; else btn_nuevasPersonas_check_off"></ng-container>

                                    <ng-template #btn_nuevasPersonas_check_off>
                                      <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Todos" (click)="SeleccionarTodos('nuevasPersonas')">
                                        <i class="fa fa-circle-o"></i>
                                      </button>
                                    </ng-template>                      
              
                                    <ng-template #btn_nuevasPersonas_check_on>
                                      <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Ninguno" (click)="SeleccionarTodos('nuevasPersonas')">
                                        <i class="fa fa-check-circle-o"></i>
                                      </button>
                                    </ng-template>  
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let persona of  personas$ | async; index as i">
                            <td><ngb-highlight [result]="persona.iduniminuto | number" [term]="filterPersonas.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.documento | number" [term]="filterPersonas.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.nombreCompleto " [term]="filterPersonas.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.programa " [term]="filterPersonas.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.cohorte | number" [term]="filterPersonas.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.sede " [term]="filterPersonas.value"></ngb-highlight></td>
                            <td >
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" [id]="'customCheck_nuevoSeguimiento_'+persona.id" [(ngModel)]="persona.seleccionado">
                                  <label class="custom-control-label " [for]="'customCheck_nuevoSeguimiento_'+persona.id" ></label>
                                </div>
                            </td>
                            </tr>
                        </tbody>
                    </table>     
                </div>
            </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="AgregarPersonas()">Agregar</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>


