<div class="form-group row" >
    <div class="col-md-4">
        <label >Nombre :</label>
        <input type="text" class="form-control " [(ngModel)]="Nombre">
    </div>
        <div class="col-md-4">
            <label>Responsable:</label>
            <select class="form-control" [(ngModel)]="responsable">
                <option value="0" disabled >--Seleccione Responsable--</option>
                <option value="{{responsablebase.Id}}" *ngFor="let responsablebase of Responsables">{{responsablebase.Descripcion}}</option>
            </select>
      </div>
      <div class="col-md-2">
              <label >Fecha de Inicio :</label>
              <input type="date" class="form-control " [(ngModel)]="FechaInicio">
      </div> 
      <div class="col-md-2">
        <label >Fecha de Finalización :</label>
        <input type="date" class="form-control " [(ngModel)]="FechaFinal">
     </div>

</div>
<div class="row" >
    <div class="col-md-6 cuadro">
        <h3  align='center'>Seleccionados</h3>
        <div class="row" >
            <table class="table table-striped">
                   
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th scope="col"><input class="form-control" [(ngModel)]="searchObjectPersonas.Nombre" ></th>
                            <th scope="col"><input class="form-control" [(ngModel)]="searchObjectPersonas.Programa" ></th>
                            <th scope="col"><input class="form-control" [(ngModel)]="searchObjectPersonas.Cedula" ></th>
                            <th scope="col"><input class="form-control" [(ngModel)]="searchObjectPersonas.Id" ></th>
                            <th scope="col"></th>   
                        </tr>
                        <tr class="colums">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha Actualizacion</th>

                        </tr>
                    </thead>
                
                   
                    <tbody>
                    <tr>
                        <tr *ngFor="let persona of Personas | arrayFilter : 
                            { 
                            Nombre:                   searchObjectPersonas.Nombre,  
                            Programa:                 searchObjectPersonas.Programa,
                            FechaCreacion:            searchObjectPersonas.Cedula,
                            FechaFinal:               searchObjectPersonas.Id
                            
                            };
                            let indice=index"
                        >
                        <td scope="row">{{persona.IdPersona}}</td>
                        <td>{{persona.Nombre}}</td>
                        <td>{{persona.Programa}}</td>
                        <td>{{persona.Cedula}}</td>
                        <td>{{persona.Id}}</td>
                        <td>{{persona.FechaActualizacion}}</td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value=""  >
                                <label class="form-check-label" for="inlineCheckbox1"></label>
                            </div>
                        </td>


                    </tr>
                    </tbody>
                
                </table>
        </div>        
    </div>
    <div class="col-md-6 cuadro">
        <h3  align='center'>Por Seleccionar</h3>
        <div class="row" >
                <table class="table table-striped">
                       
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th scope="col"><input class="form-control" [(ngModel)]="searchObjectPersonas.Nombre" ></th>
                                <th scope="col"><input class="form-control" [(ngModel)]="searchObjectPersonas.Programa" ></th>
                                <th scope="col"><input class="form-control" [(ngModel)]="searchObjectPersonas.Cedula" ></th>
                                <th scope="col"><input class="form-control" [(ngModel)]="searchObjectPersonas.Id" ></th>
                                <th scope="col"></th>   
                            </tr>
                            <tr class="colums">
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Programa</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">ID</th>
                            <th scope="col">Fecha Actualizacion</th>
    
                            </tr>
                        </thead>
                    
                       
                        <tbody>
                        <tr>
                            <tr *ngFor="let persona of Personas | arrayFilter : 
                                { 
                                Nombre:                   searchObjectPersonas.Nombre,  
                                Programa:                 searchObjectPersonas.Programa,
                                FechaCreacion:            searchObjectPersonas.Cedula,
                                FechaFinal:               searchObjectPersonas.Id
                                
                                };
                                let indice=index"
                            >
                            <td scope="row">{{persona.IdPersona}}</td>
                            <td>{{persona.Nombre}}</td>
                            <td>{{persona.Programa}}</td>
                            <td>{{persona.Cedula}}</td>
                            <td>{{persona.Id}}</td>
                            <td>{{persona.FechaActualizacion}}</td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)]="seleccion" (change)="seleccion()" >
                                    <label class="form-check-label" for="inlineCheckbox1"></label>
                                </div>
                            </td>
    
    
                        </tr>
                        </tbody>
                    
                    </table>
            </div>  
    </div>
</div>
