.contenedor {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 20%;
  }
  
  
  .contenedor input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 20%;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color:  #ccc;
    border-radius: 20%;
  }
  
 
  .contenedor:hover input ~ .checkmark {
    background-color: rgb(158, 154, 154);
    border-radius: 20%;
  }
  
  
  .contenedor input:checked ~ .checkmark {
    background-color: #2196F3;
    border-radius: 20%;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border-radius: 20%;
  }
  

  .contenedor input:checked ~ .checkmark:after {
    display: block;
    border-radius: 20%;
  }
  

  .contenedor .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 20%;
  }
  
  .row.button{
    direction: rtl;
  }

.buscar{
  margin-top: 0.7rem;
}

.agendaSpace{
  overflow: auto;
  max-height: 25rem;
  min-height: 25rem;
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(0,0,0,0.04); /* Black w/ opacity */
}

.menospadding{
  padding: 0;
}

.marginTable{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}


.nover{
  display: none;
}

.notificacion{
  margin-top: 1rem;
}

.alert-custom{
  background-color: #ffadda;
  border-color: #ee0077;
  color: #0e2e49;
  font-weight: bold;
  font-size: small;
  text-align: center;
}