<!-- <div class="blackout" *ngIf="!  EstoyListo()">
  <div class="spinner spinner-grow text-primary" role="status">
  </div>
</div> -->

<div class="row">
  <div class="col-md">
    <h1 align='center'>Administrar Distribución de Agendas</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="row justify-content-start">
      <div class="col-md-11 contenedor">
        <!-- <app-personas-subagendamiento-componentes-arbolagendas [agendas]='listaAgendas' [seleccionada]="agendaSeleccionada" (seleccionadaChangue)="agendaSeleccionada=$event">
        </app-personas-subagendamiento-componentes-arbolagendas> -->
        <app-personas-subagendamiento-componentes-arbolagendas [agendas]='controladorAgendas.todos' [seleccionada]="agendaSeleccionada" (seleccionadaChangue)="agendaSeleccionada=$event">
        </app-personas-subagendamiento-componentes-arbolagendas>
      </div>
    </div>
  </div>
  <div class="col-md-9 contenedor">
        <p>contenido</p>
        <p>Agenda Seleccionada: {{ agendaSeleccionada }}</p>
  </div>

</div>


   
  