<!-- <div class="blackout" *ngIf="!  EstoyListo()">
  <div class="spinner spinner-grow text-primary" role="status">
  </div>
</div> -->

<div class="row">
  <div class="col-md">
    <h1 align='center'>Administrar Distribución de Agendas</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="row justify-content-start">
      <div class="col-md-11 contenedor">
        <app-personas-subagendamiento-componentes-arbolagendas [agendas]='listaAgendas'></app-personas-subagendamiento-componentes-arbolagendas>
      </div>
    </div>
  </div>
  <div class="col-md-8 contenedor">
        contenido
  </div>

</div>




   
  