


<div class="container">

  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <h1 align='center'>Cargue de {{ controlCargue.nombre }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm-2">
          <h5>Progreso: </h5>
        </div>
        <div class="col-sm-10">
          <ngb-progressbar value="{{ controlCargue.progresoTotal }}" showValue="true"></ngb-progressbar>
        </div>
      </div>
    </div>
  </div>


  <!-- --------------------------------------------------------  PASO 1 -------------------------------------------------------- -->

  <div class="row contenedor" *ngIf="controlCargue.pasoActualValor == 1">
    <div class="col-sm">

      <div class="row">
        <div class="col-sm">      
          <h3 align='center'>Paso {{ controlCargue.pasoActualValor }}: {{ controlCargue.pasoActualNombre }}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">                
          <div class="input-group mb-3">
            <div class="input-group-prepend ">
                  <span class="input-group-text" id="inputGroupFileAddon01">Buscar archivo</span>
            </div>
            <div class="custom-file">
                <input #inputArchivo type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="SeleccionarArchivo($event)" accept=".xls,.xlsx" lang="es"> 
                <label class="custom-file-label" for="inputGroupFile01">{{ datosArchivo==null ? '' : datosArchivo.name }}</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="CargarArchivo()" [disabled]="datosArchivo == null">Cargar</button>
            </div>            
          </div>
        </div>  
      </div>

      <div class="row">
        <div class="col-sm">

          <div class="row">
            <div class="col-sm-12">
              RESUMEN - {{ controlCargue.nombreArchivo }}    
            </div>
          </div>

          
          <div class="row" *ngFor="let registroC of arregloResumen; let indiceCohorte = index">
            <div class="col-sm-12">

              <div class="row  bg-gray">
                <div class="col-sm-2">
                  {{ registroC.cohorte }}
                </div>
                <div class="col-sm-8">
                  &nbsp;
                </div>
                <div class="col-sm-2">
                  {{ registroC.cantidad }} Registros   
                </div>
              </div>
    
              <div class="row" *ngFor="let registroP of registroC.programas; let indicePrograma = index">
                <div class="col-sm-2">
                  &nbsp;
                  
                </div>
                <div class="col-sm-8">
                  {{ registroP.nombre }}
                </div>
                <div class="col-sm-2">
                  {{ registroP.cantidad }} Registros   
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
   
      <div class="row">
        <div class="col-sm">
          <hr>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-sm-3">
          <button type="button" class="btn btn-outline-primary btn-block" (click)="CambiarPaso(2)" [disabled]="arregloResumen.length == 0">Siguiente</button>
        </div>
      </div>

    </div>

  </div>

  <!-- --------------------------------------------------------  PASO 2 -------------------------------------------------------- -->

  <div class="row contenedor" *ngIf="controlCargue.pasoActualValor == 2">
    <div class="col-sm">

      <div class="row">
        <div class="col-sm">      
          <h3 align='center'>Paso {{ controlCargue.pasoActualValor }}: {{ controlCargue.pasoActualNombre }}</h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-5">                
         
          <button type="button" class="btn btn-outline-secondary btn-block" (click)="AnalizarDatos()">Analizar Información</button>

        </div>  
      </div>

      <div class="row">
        <div class="col-sm">
          <hr>
        </div>
      </div>

      <div class="row overflow-auto pb-2">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm">
              Nuevas Personas ( {{arregloNuevasPersonas.length }} de {{ arregloArchivo.length }} ):
            </div>
          </div>

          <div class="row justify-content-center ">                
            <div class="col-sm overflow-auto tablaInformacion">

              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Programa</th>
                    <th scope="col">Exp.</th>
                    <th scope="col">Tel. Res.</th>
                    <th scope="col">Tel. Trab.</th>
                    <th scope="col">Tel Cel.</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Cohorte</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let elemento of arregloNuevasPersonas; let indicePersonas = index;">
                    <th scope="row">{{ elemento.SPRIDEN_ID }}</th>
                    <td>{{ elemento.DOCUMENTO }}</td>
                    <td>{{ elemento.APELLIDOS }}</td>
                    <td>{{ elemento.P_NOMBRE + " " + elemento.S_NOMBRE }}</td>
                    <td>{{ elemento.CARRERA }}</td>
                    <td>{{ elemento.CIUDAD_EXP_DOC }}</td>
                    <td>{{ elemento.TEL_RE }}</td>
                    <td>{{ elemento.TEL_TR }}</td>
                    <td>{{ elemento.TEL_CEL }}</td>
                    <td>{{ elemento.MAIL_ESTU }}</td>
                    <td>{{ elemento.PER_GRADO }}</td>

                  </tr>

                </tbody>
              </table>
            
            </div>
          </div>

        </div>
      </div>


      <div class="row overflow-auto pb-2">
        <div class="col-sm">

          <div class="row">
            <div class="col-sm">
              Nuevos Estudios ( {{arregloNuevosEstudios.length }} de {{ arregloArchivo.length }} ):
            </div>
          </div>

          <div class="row">                
            <div class="col-sm overflow-auto tablaInformacion">

              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col" >Documento</th>
                    <th scope="col" >Apellidos</th>
                    <th scope="col" >Nombres</th>
                    <th scope="col" >Programa</th>
                    <th scope="col" >Cohorte</th>
                    <th scope="col" >F. Grado</th>
                    <th scope="col" >Acta</th>
                    <th scope="col" >Libro</th>
                    <th scope="col" >Folio</th>
                    <th scope="col" >Diploma</th>
                          
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let elemento of arregloNuevosEstudios; let indicePersonas = index;">
                    <th scope="row">{{ elemento.SPRIDEN_ID }}</th>
                    <td>{{ elemento.DOCUMENTO }}</td>
                    <td>{{ elemento.APELLIDOS }}</td>
                    <td>{{ elemento.P_NOMBRE + " " + elemento.S_NOMBRE }}</td>
                    <td>{{ elemento.CARRERA }}</td>
                    <td>{{ elemento.PER_GRADO }}</td>
                    <td>{{ elemento.FECHA_GRADO }}</td>
                    <td>{{ elemento.ACTA_GRADO }}</td>
                    <td>{{ elemento.LIBRO }}</td>
                    <td>{{ elemento.FOLIO }}</td>
                    <td>{{ elemento.N_DIPLOMA }}</td>
                  </tr>

                </tbody>
              </table>
            
            </div>
          </div>

        </div>

      </div>

      <div class="row overflow-auto pb-2">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm">
              Registros con Cambios ( {{arregloCambios.length }} de {{ arregloArchivo.length }} ):
            </div>
          </div>

          <div class="row justify-content-center ">                
            <div class="col-sm overflow-auto tablaInformacion">

              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Tip. Doc</th>
                    <th scope="col">Exp. Doc.</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Programa</th>
                    <th scope="col">Tel. Res.</th>
                    <th scope="col">Tel. Trab.</th>
                    <th scope="col">Tel Cel.</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Promedio</th>                    
                    <th scope="col">Cohorte</th>
                    <th scope="col">F. Grado</th>
                    <th scope="col">Acta</th>
                    <th scope="col">Libro</th>
                    <th scope="col">Folio</th>
                    <th scope="col">Diploma</th>
                    <th scope="col">Cambios</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let elemento of arregloCambios; let indicePersonas = index;">
                    <th scope="row">{{ elemento.SPRIDEN_ID }}</th>
                    <td>
                      <div *ngIf = " ValidarCampoEnObjeto('TIPO_DOCUMENTO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.TIPO_DOCUMENTO ">{{ elemento.TIPO_DOCUMENTO }}</div>
                      <ng-container *ngIf = " !ValidarCampoEnObjeto('TIPO_DOCUMENTO',elemento.cambios) ">{{ elemento.TIPO_DOCUMENTO }}</ng-container>
                    </td>
                    <td>{{ elemento.DOCUMENTO }}</td>
                    <td>{{ elemento.CIUDAD_EXP_DOC }}</td>
                    <td>{{ elemento.APELLIDOS }}</td>
                    <td>{{ elemento.P_NOMBRE + " " + elemento.S_NOMBRE }}</td>
                    <td>{{ elemento.GENERO }}</td>
                    <td>{{ elemento.CARRERA }}</td>
                    <td>{{ elemento.TEL_RE }}</td>
                    <td>{{ elemento.TEL_TR }}</td>
                    <td>{{ elemento.TEL_CEL }}</td>
                    <td>{{ elemento.MAIL_ESTU }}</td>
                    <td>{{ elemento.PROMEDIO }}</td>
                    <td>{{ elemento.PER_GRADO }}</td>
                    <td>{{ elemento.FECHA_GRADO }}</td>
                    <td>{{ elemento.ACTA_GRADO }}</td>
                    <td>{{ elemento.LIBRO }}</td>
                    <td>{{ elemento.FOLIO }}</td>
                    <td>{{ elemento.N_DIPLOMA }}</td>
                    <td>{{ elemento.cambios }}</td>                    
                  </tr>

                </tbody>
              </table>
            
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <hr>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-sm-3">
          <button type="button" class="btn btn-outline-primary btn-block" (click)="CambiarPaso(1)">Anterior</button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-outline-primary btn-block" (click)="CambiarPaso(3)">Siguiente</button>
        </div>
      </div>

    </div>

  </div>








<!-- <div *ngIf="estado.paso == 3">
        <h3 align='center'>Paso 3 : Datos nuevos y correcciones</h3>
        <hr>
        <h4>Datos nuevos</h4>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
        </table>
        <hr>
        <h4>Cambios</h4>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
        </table>
        <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="cambioPaso(4)">Guardar</button>
    </div>
-->







</div>






