.contenedor{
    overflow: auto;
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(0,0,0,0.04); /* Black w/ opacity */
}

.custom-file-input:lang(es)~.custom-file-label::after {
    content: "Examinar";
}

.bg-gray {background-color:#cccccc;}

.tablaInformacion{
    max-height: 270px;
    min-height: 270px;
}