<!-- modal contenedor -->
<div id="div_login_modal" class="modal">

    <div class="modal-content animate">
        <!-- contenedor de imagen -->

        <div class="imgcontainer">
            <img src="../../assets/imagenes/logo_uniminuto.png" alt="Avatar" class="avatar">
        </div>

         <!-- contenedor para procesos -->
        <div class="contenido">
            <!-- <router-outlet></router-outlet> -->
            <div *ngIf="procesoLogeo.modo == 1">
                <app-inicio-sesion></app-inicio-sesion>
            </div>
            <div *ngIf="procesoLogeo.modo == 2">

                <div *ngIf="procesoLogeo.paso == 1 || procesoLogeo.paso == 2">
                    <app-regitro-administrador></app-regitro-administrador>
                </div>

                <div *ngIf="procesoLogeo.paso == 3">
                    <app-validar-codigo></app-validar-codigo>
                </div>

            </div>
        </div>
         

    </div>

</div>
