
  <!-- tabla de o lista de empleados -->
  <div class="row">
    <div class="contenedor" >
      
      <h1 align='center'>Lista Agendas</h1>

      <form >
        <div class="form-group form-inline form ">
            <div class="row col-md-10 form2"><i class="fa fa-search search "></i><p>Buscar: </p><input class="form-control" type="text" [formControl]="filter"/></div>
            <button class="btn btn-primary nuevaAgenda" (click)="NuevaAgenda({modo:2})" ><i class="fa fa-plus-circle"></i> Nueva Agenda</button>
  
        </div>
      </form>
 

    <table class="table table-striped">
        <thead class="thead">
        <tr>
            <th scope="col">Id Agenda</th>
            <th scope="col">Coordinador</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha inicial</th>
            <th scope="col">Fecha Final</th>
            <th scope="col"></th> 
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let agenda of  registrosAgendas$ | async; index as i">
          <td><ngb-highlight [result]="agenda.id | number" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="agenda.nombreCoordinador " [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="agenda.nombreResponsable " [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="agenda.apertura_fecha" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="agenda.cierre_fecha" [term]="filter.value"></ngb-highlight></td>
          <td><button  type="button" class="btn btn-outline-secondary " (click)="verPersona({id : agenda.id, modo:4})"  placement="right" ngbTooltip="Seguir"><i class="fa fa-eye"></i></button></td>
          <td>
            <button class="btn btn-outline-secondary " (click)="verPersona({id : agenda.id, modo:3})" placement="left" ngbTooltip="Editar"><i class="fa fa-pencil"></i></button>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>