
  <!-- tabla de o lista de empleados -->
  <div class="row">
    <div>
      <h1 align='center'><strong>Lista Agendas</strong></h1>

      <br>
  
      <table class="table table-striped">
        <!-- titulo de las columnas -->
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th scope="col"><input class="form-control" [(ngModel)]="searchObjectAgendas.Nombre" ></th>
                <th scope="col"><input class="form-control" [(ngModel)]="searchObjectAgendas.Programa" ></th>
                <th scope="col"><input class="form-control" [(ngModel)]="searchObjectAgendas.FechaCreacion" ></th>
                <th scope="col"><input class="form-control" [(ngModel)]="searchObjectAgendas.FechaFinal" ></th>
                <th scope="col"><input class="form-control" [(ngModel)]="searchObjectAgendas.Responsable" ></th>
                <th scope="col"></th>
                <th scope="col"></th>   
            </tr>
          <tr class="colums">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Programa</th>
            <th scope="col">Fecha Creacion</th>
            <th scope="col">Fecha Finalizacion</th>
            <th scope="col">Responsable</th>
            <th scope="col">#Estudiantes</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
  
        <!-- informacion de la tabla o listado de empleados -->
        <tbody>
            <tr>
          <tr *ngFor="let agenda of Agendas | arrayFilter : 
              { 
                Nombre:                   searchObjectAgendas.Nombre,  
                Programa:                 searchObjectAgendas.Programa,
                FechaCreacion:            searchObjectAgendas.FechaCreacion,
                FechaFinal:               searchObjectAgendas.FechaFinal,
                Responsable:              searchObjectAgendas.Responsable
               
              };
              let indice=index"
          >
            <th scope="row">{{agenda.IdAgenda}}</th>
            <td>{{agenda.Nombre}}</td>
            <td>{{agenda.Programa}}</td>
            <td>{{agenda.FechaCreacion}}</td>
            <td>{{agenda.FechaFinal}}</td>
            <td>{{agenda.Responsable}}</td>
            <td>{{agenda.Cantidad}}</td>
            <td>{{agenda.Estado}}</td>
            <td><button class="btn btn-primary" (click)="verPersona({id : agenda.IdAgenda, modo:2})">Ver</button></td>
            <td><button class="btn btn-primary" (click)="verPersona({id : agenda.IdAgenda, modo:2})">Editar</button></td>
      </tr>
        </tbody>
  
      </table>
    </div>
</div>