.row{
    font-size: 15px ;
}

/* .nuevaAgenda{
    background-color: #E4AC34;
    color: black;
    border: none;
    margin-left: 5rem
} */

/* .nuevaAgenda:hover{
    background-color: #007bff;
    color: white;
} */

/* .contenedor{
    width: 100%;
} */

/* .form2{
    display: flex;
    align-items: baseline;
} */

.alert-custom{
    background-color: #ffadda;
    border-color: #ee0077;
    color: #0e2e49;
    font-weight: bold;
    font-size: small;
    text-align: center;
  }
