<div class="blackout" *ngIf="!EstoyListo('eventos')">
  <div class="spinner spinner-grow text-primary" role="status">
  </div>
</div>

<div class="container-fluid">

  <h1 class='text-center'>Lista de eventos</h1>

  <div class="container-fluid">
    <div class="row justify-content-between form mb-2">
      <div class="col-md-5">
        <div class="d-flex align-items-center">
          <div class="pr-1">        <label for="filter" class="col-form-label"><i class="fa fa-search"></i> Buscar:</label> </div>
          <div class="flex-grow-1"> <input class="form-control form-control-sm" type="text" id="filter" [formControl]="filter"/> </div>
        </div>
      </div>
      <div class="col-md-3 text-right">  <button class="btn btn-primary nuevaAgenda" (click)="crear(1)" type="button" ><i class="fa fa-plus-circle"></i> Nuevo evento</button> </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha del evento</th>
        <th scope="col">Sede</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of  registrosEventos$ | async; index as i" >
        <td><ngb-highlight [result]="evento.id | number" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]=" evento.nombre" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="evento.evento_fecha" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="evento.lugar" [term]="filter.value"></ngb-highlight></td>
        <td>
          <button class="btn btn-outline-secondary mr-2 "  placement="left" ngbTooltip="Editar" (click)="crear(2, evento)">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-outline-secondary mr-2 "  placement="left" ngbTooltip="Registrar asistencia" (click)="verModal(agregador, evento.id)" >
            <i class="fa fa-address-book-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<ng-template #agregador let-modal>

  <div class="blackout" *ngIf="!EstoyListo('personas')">
    <div class="spinner spinner-grow text-primary" role="status">
    </div>
  </div>
  
    <div class="modal-header">
        <h4 class="modal-title">Crear Asistencia</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                        <h4 >Seleccione personas</h4>
                </div>
            </div>
            <div class="row">
                <div class="col personastable">
                        <div class="col text-center">
                                <h5 >Lista de personas</h5>
                        </div>
                        <form >
                            <div class="form-group form-inline form ">
                                <div class="row">
                                    <div class="col align-middle a">
                                        <i class="fa fa-search search col-md-2 "></i>
                                        <p>Buscar: </p>
                                    </div>
                                    <div class="col"> <input class="form-control" type="text" [formControl]="filterPersonas"/></div>
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped personastable">
                            <thead class="thead">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id Uniminuto</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col"></th> 
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let persona of  personas$ | async; index as i">
                            <td><ngb-highlight [result]="persona.id  | number" [term]="filterPersonas.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.iduniminuto | number" [term]="filterPersonas.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.nombres" [term]="filterPersonas.value"></ngb-highlight></td>
                            <td><ngb-highlight [result]="persona.apellidos" [term]="filterPersonas.value"></ngb-highlight></td>
                            <td>                                        
                                <label class="containerCheck">
                                    <input type="checkbox" [(ngModel)]=" persona.Seleccionado" >
                                    <span class="checkmark" (click)="cambiarSeleccion(persona.id, persona.Seleccionado, persona.iduniminuto, persona.nombres, persona.apellidos, persona.Asistencia )" ></span>
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table> 

                </div>
                <div class="col personastable">
                        <div class="col text-center">
                                <h5 >Personas Seleccionadas</h5>
                        </div>
                        <table class="table table-striped ">
                            <thead class="thead">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id Uniminuto</th>
                                <th scope="col">Nombre completo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let persona of asistencia; index as i">
                                <tr *ngIf="persona.Seleccionado == true" > 
                                <td>{{persona.personas_id}}</td>
                                <td>{{persona.iduniminuto}}</td>
                                <td>{{persona.nombreCompleto}}</td>
                                </tr>
                            </ng-container> 
                            </tbody>
                        </table> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="limpiar()">Atras</button> 
        <button type="button" class="btn btn-primary" (click)="actualizarAsistencia()">Actualizar</button>                
    </div>

</ng-template>