<html>
  <head>
 
  </head>
  <body>
        <div class="row" *ngIf="modo==1">
            <div class="col-md-12 col-sm-12 col-log-12">
                <personas-actualizacion-filtro></personas-actualizacion-filtro>
            </div>
            
        </div>
        <div class="row" *ngIf="modo==1">
            <div class="col-md-12 col-sm-12 col-log-12">
            <personas-actualizacion-lista></personas-actualizacion-lista>
            </div>
        </div>
        <div class="row" *ngIf="modo==2">
            <div class="col-md-12 col-sm-12 col-log-12">
                <personas-actualizacion-informacion></personas-actualizacion-informacion>
            </div>
        </div>

    


        
  </body>
    </html>