<div class="modal-header">
  <h4 class="modal-title">{{ titulo }}</h4>
 </div>


 <div class="modal-body">

    <div *ngFor="let campo of controlador.campos; index as camposIndex">
      <label>{{campo.nombre}} :</label>
      
      <input 
        *ngIf="!campo.nombre.includes('_id') && !campo.tipo.includes('enum')" 
          [type]="campo.nombre.includes('_fecha') ? 'date' : 'text'" 
          class="form-control" 
          [(ngModel)]="datos[campo.nombre]" 
          [readonly]="campo.nombre=='id' ? true : false"
          required
      >

      <select *ngIf="campo.tipo.includes('enum')" [(ngModel)]="datos[campo.nombre]">
        <option *ngFor="let opcion of ProcesarSelectEnum(campo.tipo); index as opcionesIndex" [value]="opcion">{{ ObtenerOptionTextEnum(opcion,campo.comentarios) }}</option>
      </select>

      <select *ngIf="campo.nombre.includes('_id')" [(ngModel)]="datos[campo.nombre]">
        <option *ngFor="let opcion of ProcesarSelectId(campo.nombre); index as opcionesIndex" [value]="opcion.id">{{opcion.descripcion}}</option>
      </select>      
    </div>
</div>

<div>&nbsp;</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="Guardar()">Guardar</button>            
  <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="Cancelar()">Cancelar</button>            
</div>