.spaceColor{
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(0,0,0,0.04); /* Black w/ opacity */
    padding: .5rem;
}

.titulo{
  text-align: center;
}

  
  .buttonGeneral{
    margin: 2rem;
}

.img{
  height: 13rem ;
}

.margin-top{
  margin-top: 1rem;
}

