<div class="containerAgenda">
        <div class="form-group row" >
            <div class="col-md-4">
                <label >Nombre de la agenda :</label>
                <input type="text" class="form-control " [(ngModel)]="Nombre">
            </div>
                <div class="col-md-4">
                    <label>Responsable:</label>
                    <select class="form-control" [(ngModel)]="responsable">
                        <option value="0" disabled >--Seleccione Responsable--</option>
                        <option value="{{responsablebase.Id}}" *ngFor="let responsablebase of Responsables">{{responsablebase.Descripcion}}</option>
                        <option value="1">Edwin F. Londoño J.</option>
                        <option value="2" >Manuel L. Castaño P.</option>
                    </select>
            </div>
            <div class="col-md-2">
                    <label >Fecha de Inicio :</label>
                    <input type="date" class="form-control " [(ngModel)]="FechaInicio">
            </div> 
            <div class="col-md-2">
                <label >Fecha de Finalización :</label>
                <input type="date" class="form-control " [(ngModel)]="FechaFinal">
            </div>
        
        </div>
        
        <div class="row" >
            <div class="col-md-12 cuadro">
                <h3  align='center'>Seleccionados</h3>

                <form >
                    <div class="form-group form-inline form ">
                        <div class="row col-md-10 form2"><i class="fa fa-search search "></i><p>Buscar: </p><input class="form-control" type="text" [formControl]="filter"/></div>
                    </div>
                </form>
    
                <table class="table table-striped">
                        
                    <thead class="thead">
                            
                        <tr class="colums">
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Programa</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">ID</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Correo Institucional</th>
                            <th scope="col">Correo Personal</th>
                            <th scope="col">Fecha Actualizacion</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
              
                    <tbody>
                      <tr *ngFor="let persona of   PersonasSeleccionadas$ | async; index as i">
                        <td><ngb-highlight [result]="persona.Id | number" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.Nombre" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.Programa" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.Cedula | number" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.IdPersona  | number" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.Celular  | number" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.CorreoInstitucional" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.CorreoPersonal" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.FechaActualizacion" [term]="filter.value"></ngb-highlight></td>
                        <td><button class="btn btn-outline-secondary "  placement="right" ngbTooltip="Editar" (click)="verPersona({modo:2})" title="Actualizar"><a routerLink="/lista"> </a><i class="fa fa-pencil"></i></button></td>
                        <td>    
                            <label class="contenedor">
                                <input type="checkbox" [(ngModel)]="persona.Seleccionado" >
                                <span class="checkmark"></span>
                            </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>       
            </div>
        </div>
        
        <div class="row button">

            <button class="btn btn-primary">Guardar</button>
            <button class="btn btn-outline-dark buttonGeneral"  (click)="Cancelar()" >Cancelar</button>
            
        </div>
</div>
