<html>
  <head>
 
  </head>
  <body>
      <div class="row" >
        <div class="col-md-12 col-sm-12 col-log-12">
            <dashboard-encabezado></dashboard-encabezado>
        </div>
        
      </div>
      <div class="row" id="menu">
          <div class="col-md-1 col-sm-1 col-log-1"  >
            <dashboard-menu></dashboard-menu>

          </div>
          <div class="col-md-11 col-sm-11 col-log-11 dash">
          <app-dashboard-estadisticas></app-dashboard-estadisticas>
          <router-outlet></router-outlet>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 col-sm-12 col-log-12">
           <dashboard-workspace></dashboard-workspace>
          </div>
      </div>



        
  </body>
    </html>