<div class="container-fluid px-0">
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <dashboard-encabezado></dashboard-encabezado>
    </div>      
  </div>
  <div class="row" id="menu">

    <div class="col-md col-sm col-lg">    
      <div class="d-flex">
        <div class="menu">
          <dashboard-menu></dashboard-menu>
        </div>
        <div class="flex-grow-1">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <dashboard-workspace></dashboard-workspace>
      </div>
  </div>

</div>