
<div class="row">
  <div class="col-md-12 col-sm-12 col-log-12">

    <div class="container column">
   
      <h1 align='center'>Maestras</h1>
                   
        <ngb-tab  *ngIf="controladorAreas.estaListo">
          <ng-template ngbTabTitle>Areas</ng-template>
          <ng-template ngbTabContent>
            <div class="ngTabContainer">
              <h1>Lista de Areas</h1><hr>
              <app-maestras-componentes-lista nombreTabla="areas" [controlador]="controladorAreas"></app-maestras-componentes-lista>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab  *ngIf="controladorUsuarios.estaListo">
          <ng-template ngbTabTitle>Usuarios</ng-template>
          <ng-template ngbTabContent>
            <div class="ngTabContainer">
              <h1>Lista de Usuarios</h1><hr>
              <app-maestras-componentes-lista nombreTabla="usuarios" [controlador]="controladorUsuarios"></app-maestras-componentes-lista>
            </div>
          </ng-template>
        </ngb-tab>        
      </ngb-tabset>                     
    </div>            
  </div>
</div>