<div class="containerAgenda"> 
   <div class="form-group row" >
            <div class="col-md-4">
                <label >Nombre de la agenda :</label>
                <input type="text" class="form-control " [(ngModel)]="Nombre">
            </div>
                <div class="col-md-4">
                    <label>Responsable:</label>
                    <select class="form-control" [(ngModel)]="responsable">
                        <option value="0" disabled >--Seleccione Responsable--</option>
                        <option value="{{responsablebase.Id}}" *ngFor="let responsablebase of Responsables">{{responsablebase.Descripcion}}</option>
                        <option value="1">Edwin F. Londoño J.</option>
                        <option value="2" >Manuel L. Castaño P.</option>
                    </select>
            </div>
            <div class="col-md-2">
                    <label >Fecha de Inicio :</label>
                    <input type="date" class="form-control " [(ngModel)]="FechaInicio">
            </div> 
            <div class="col-md-2">
                <label >Fecha de Finalización :</label>
                <input type="date" class="form-control " [(ngModel)]="FechaFinal">
            </div>
        
        </div>
        
        <div class="row" >
            <div class="col-md-6 cuadro">
                <h3  align='center'>Seleccionados</h3>


                
            <form >
                <div class="form-group form-inline form ">
                    <div class="row col-md-10 form2"><i class="fa fa-search search "></i><p>Buscar: </p><input class="form-control" type="text" [formControl]="filter"/></div>
                </div>
            </form>

            <table class="table table-striped">
                <thead  class="thead">     
                    <tr class="colums">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha Actualizacion</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let persona of   PersonasSeleccionadas$ | async; index as i">
                    <td><ngb-highlight [result]="persona.Id | number" [term]="filter2.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="persona.Nombre" [term]="filter2.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="persona.Programa" [term]="filter2.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="persona.Cedula | number" [term]="filter2.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="persona.IdPerona  | number" [term]="filter2.value"></ngb-highlight></td>
                    <td><ngb-highlight [result]="persona.FechaActualizacion" [term]="filter2.value"></ngb-highlight></td>
                    <td>    
                        <label class="contenedor">
                            <input type="checkbox" [(ngModel)]="persona.Seleccionado" >
                            <span class="checkmark"></span>
                        </label>
                    </td>
                  </tr>
                </tbody>
              </table>

                <div class="row" >
                        <button class="btn  btn-outline-dark" (click)="quitarPersonas()" title="Quitar"><i class="fa fa-user-times"></i></button>
                </div>        
            </div>
            <div class="col-md-6 cuadro">
                <h3  align='center'>Por Seleccionar</h3>

                <form >
                    <div class="form-group form-inline form ">
                        <div class="row col-md-10 form2"><i class="fa fa-search search "></i><p>Buscar: </p><input class="form-control" type="text" [formControl]="filter2"/></div>
                    </div>
                </form>
    
                <table class="table table-striped">
                    <thead  class="thead">     
                        <tr class="colums">
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Programa</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">ID</th>
                            <th scope="col">Fecha Actualizacion</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let persona of  personas$ | async; index as i">
                        <td><ngb-highlight [result]="persona.Id | number" [term]="filter2.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.Nombre" [term]="filter2.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.Programa" [term]="filter2.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.Cedula | number" [term]="filter2.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.IdPerona  | number" [term]="filter2.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="persona.FechaActualizacion" [term]="filter2.value"></ngb-highlight></td>
                        <td>    
                            <label class="contenedor">
                                <input type="checkbox" [(ngModel)]="persona.Seleccionado" >
                                <span class="checkmark"></span>
                            </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>






                <div class="row" >
                        <button class="btn btn-primary" (click)="agregarPersonas()" title="Añadir"><i class="fa fa-user-plus"  ></i></button>
                </div>  
            </div>
        </div>

    <div class="row button"> 
        <button class="btn btn-primary">Guardar</button>
        <button class="btn btn-outline-dark buttonGeneral"  (click)="Cancelar()" >Cancelar</button>
        
    </div>
   
</div>