<div class="container-fluid">

  <h1 class="text-center">Cargue de {{ controlCargue.caracteristicas.tituloProceso }}</h1>


    <div class="d-flex align-items-center container-fluid contenedor roundUp">
      <div class="pr-1">       <h5>Progreso Total:</h5> </div>
      <div class="flex-grow-1"> <ngb-progressbar value="{{ controlCargue.progresoActual }}" showValue="true"></ngb-progressbar></div>
    </div>

  <!-- --------------------------------------------------------  PASO 1 -------------------------------------------------------- -->
  <div class="contenedor roundDown mb-2" *ngIf="controlCargue.pasoActualValor == 1">
    <app-cargues-componentes-precargar
      [controlCargue] = "controlCargue"
    >  
    </app-cargues-componentes-precargar>
  </div>

  <div class="contenedor roundDown mb-2" *ngIf="controlCargue.pasoActualValor == 2">
    <ng-container [ngSwitch]="controlCargue.caracteristicas.tipo">

      <ng-container *ngSwitchCase="1">
        <app-cargues-componentes-analisistipo1
          [controlCargue] = "controlCargue"
        >
        </app-cargues-componentes-analisistipo1>
      </ng-container>
      
    </ng-container>
  </div>



  <div class="container-fluid mb-2">
    <div class="row justify-content-end">
      <div class="col-3" *ngIf="controlCargue.pasoActualValor != 1">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="CambiarPaso(-1)" [disabled]="false">Anterior</button>
      </div>
      <div class="col-3" *ngIf="controlCargue.pasoActualValor != controlCargue.caracteristicas.ultimoPaso">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="CambiarPaso(1)" [disabled]="false">Siguiente</button>
      </div>
    </div>
  </div>

</div>




  <!-- --------------------------------------------------------  PASO 2 -------------------------------------------------------- -->

  <!-- <div class="row contenedor" *ngIf="controlCargue.pasoActualValor == 2">
    <div class="col-sm">

      <div class="row">
        <div class="col-sm">      
          <h3 align='center'>Paso {{ controlCargue.pasoActualValor }}: {{ controlCargue.pasoActualNombre }}</h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-5">                
         
          <button type="button" class="btn btn-outline-secondary btn-block" (click)="AnalizarDatos('Todos')">Analizar Información</button>

        </div>  
      </div>

      <div class="row">
        <div class="col-sm">
          <hr>
        </div>
      </div>

      <div class="row overflow-auto pb-4">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm">
              Nuevas Personas ( {{arregloNuevasPersonas.length }} de {{ arregloArchivo.length }} ):
            </div>
          </div>

          <div class="row justify-content-center ">                
            <div class="col-sm overflow-auto tablaInformacionA">

              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">Programa</th>                    
                    <th scope="col">Cohorte</th>
                    <th scope="col">Id</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Exp. Doc.</th>                    
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Tel. Res.</th>
                    <th scope="col">Tel. Trab.</th>
                    <th scope="col">Tel Cel.</th>
                    <th scope="col">Correo</th>
                    <th scope="col">
                      
                      <ng-container *ngIf="seleccionarTodos.nuevasPersonas; then btn_nuevasPersonas_check_on; else btn_nuevasPersonas_check_off"></ng-container>

                      <ng-template #btn_nuevasPersonas_check_off>
                        <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Todos" (click)="SeleccionarTodos('nuevasPersonas')">
                          <i class="fa fa-circle-o"></i>
                        </button>
                      </ng-template>                      

                      <ng-template #btn_nuevasPersonas_check_on>
                        <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Ninguno" (click)="SeleccionarTodos('nuevasPersonas')">
                          <i class="fa fa-check-circle-o"></i>
                        </button>
                      </ng-template>  

                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let elemento of arregloNuevasPersonas; let indicePersonas = index;">
                    <th scope="row">{{ elemento.CARRERA }}</th>
                    <td>{{ elemento.PER_GRADO }}</td>
                    <td>{{ elemento.SPRIDEN_ID }}</td>
                    <td>{{ elemento.DOCUMENTO }}</td>
                    <td>{{ elemento.CIUDAD_EXP_DOC }}</td>
                    <td>{{ elemento.APELLIDOS }}</td>
                    <td>{{ elemento.P_NOMBRE + " " + elemento.S_NOMBRE }}</td>
                    <td>{{ elemento.GENERO }}</td>
                    <td>{{ elemento.TEL_RE }}</td>
                    <td>{{ elemento.TEL_TR }}</td>
                    <td>{{ elemento.TEL_CEL }}</td>
                    <td>{{ elemento.MAIL_ESTU }}</td>
                    <td class="text-center">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck_nuevasPersonas_{{ indicePersonas }}" [checked]="elemento.seleccionado">
                        <label class="custom-control-label " for="customCheck_nuevasPersonas_{{ indicePersonas }}"></label>
                      </div>
                    </td>

                  </tr>

                </tbody>
              </table>
            
            </div>
          </div>

        </div>
      </div>


      <div class="row overflow-auto pb-4">
        <div class="col-sm">

          <div class="row">
            <div class="col-sm">
              Nuevos Estudios ( {{arregloNuevosEstudios.length }} de {{ arregloArchivo.length }} ):
            </div>
          </div>

          <div class="row">                
            <div class="col-sm overflow-auto tablaInformacionA">

              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col" >Documento</th>
                    <th scope="col" >Apellidos</th>
                    <th scope="col" >Nombres</th>
                    <th scope="col" >Programa</th>
                    <th scope="col" >Cohorte</th>
                    <th scope="col" >F. Grado</th>
                    <th scope="col" >Acta</th>
                    <th scope="col" >Libro</th>
                    <th scope="col" >Folio</th>
                    <th scope="col" >Diploma</th>
                    <th scope="col">
                      
                      <ng-container *ngIf="seleccionarTodos.nuevosEstudios; then btn_nuevosEstudios_check_on; else btn_nuevosEstudios_check_off"></ng-container>

                      <ng-template #btn_nuevosEstudios_check_off>
                        <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Todos" (click)="SeleccionarTodos('nuevosEstudios')">
                          <i class="fa fa-circle-o"></i>
                        </button>
                      </ng-template>                      

                      <ng-template #btn_nuevosEstudios_check_on>
                        <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Ninguno" (click)="SeleccionarTodos('nuevosEstudios')">
                          <i class="fa fa-check-circle-o"></i>
                        </button>
                      </ng-template>  

                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let elemento of arregloNuevosEstudios; let indiceEstudios = index;">
                    <th scope="row">{{ elemento.SPRIDEN_ID }}</th>
                    <td>{{ elemento.DOCUMENTO }}</td>
                    <td>{{ elemento.APELLIDOS }}</td>
                    <td>{{ elemento.P_NOMBRE + " " + elemento.S_NOMBRE }}</td>
                    <td>{{ elemento.CARRERA }}</td>
                    <td>{{ elemento.PER_GRADO }}</td>
                    <td>{{ elemento.FECHA_GRADO }}</td>
                    <td>{{ elemento.ACTA_GRADO }}</td>
                    <td>{{ elemento.LIBRO }}</td>
                    <td>{{ elemento.FOLIO }}</td>
                    <td>{{ elemento.N_DIPLOMA }}</td>
                    <td class="text-center">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck_nuevosEstudios_{{ indiceEstudios }}" [checked]="elemento.seleccionado">
                        <label class="custom-control-label " for="customCheck_nuevosEstudios_{{ indiceEstudios }}"></label>
                      </div>
                    </td>                    
                  </tr>
                </tbody>
              </table>
            
            </div>
          </div>

        </div>

      </div>

      <div class="row overflow-auto pb-4">
        <div class="col-sm">





          <div class="row">
            <div class="col-sm">
              Registros con Cambios ( {{arregloCambios.length }} de {{ arregloArchivo.length }} ):
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
             
              <ngb-tabset>

                <ngb-tab>
                  <ng-template ngbTabTitle>Reporte</ng-template>
                  <ng-template ngbTabContent>
                    <div class="ngTabContainer">


                      <div class="row justify-content-center ">                
                        <div class="col-sm overflow-auto tablaInformacionB">
            
                          <table class="table table-sm table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Documento</th>
                                <th scope="col">Tip. Doc</th>
                                <th scope="col">Exp. Doc.</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">P. Nombre</th>
                                <th scope="col">S. Nombre</th>
                                <th scope="col">Genero</th>
                                <th scope="col">Programa</th>
                                <th scope="col">Tel. Res.</th>
                                <th scope="col">Tel. Trab.</th>
                                <th scope="col">Tel Cel.</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Promedio</th>                    
                                <th scope="col">Cohorte</th>
                                <th scope="col">F. Grado</th>
                                <th scope="col">Acta</th>
                                <th scope="col">Libro</th>
                                <th scope="col">Folio</th>
                                <th scope="col">Diploma</th>
                                <th scope="col">Cambios</th>
                              </tr>
                            </thead>
                            <tbody>
            
                              <tr *ngFor="let elemento of arregloCambios; let indicePersonas = index;">
                                <th scope="row">{{ elemento.SPRIDEN_ID }}</th>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('DOCUMENTO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('DOCUMENTO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.DOCUMENTO ">{{ elemento.DOCUMENTO }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('DOCUMENTO',elemento.cambios) ">{{ elemento.DOCUMENTO }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('TIPO_DOCUMENTO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('TIPO_DOCUMENTO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.TIPO_DOCUMENTO ">{{ elemento.TIPO_DOCUMENTO }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('TIPO_DOCUMENTO',elemento.cambios) ">{{ elemento.TIPO_DOCUMENTO }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('CIUDAD_EXP_DOC',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('CIUDAD_EXP_DOC',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.CIUDAD_EXP_DOC ">{{ elemento.CIUDAD_EXP_DOC }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('CIUDAD_EXP_DOC',elemento.cambios) ">{{ elemento.CIUDAD_EXP_DOC }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('APELLIDOS',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('APELLIDOS',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.APELLIDOS ">{{ elemento.APELLIDOS }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('APELLIDOS',elemento.cambios) ">{{ elemento.APELLIDOS }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('P_NOMBRE',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('P_NOMBRE',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.P_NOMBRE ">{{ elemento.P_NOMBRE }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('P_NOMBRE',elemento.cambios) ">{{ elemento.P_NOMBRE }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('S_NOMBRE',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('S_NOMBRE',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.P_NOMBRE ">{{ elemento.S_NOMBRE }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('S_NOMBRE',elemento.cambios) ">{{  elemento.S_NOMBRE }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('GENERO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('GENERO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.GENERO ">{{ elemento.GENERO }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('GENERO',elemento.cambios) ">{{ elemento.GENERO }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('CARRERA',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('CARRERA',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.CARRERA ">{{ elemento.CARRERA }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('CARRERA',elemento.cambios) ">{{ elemento.CARRERA }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('TEL_RE',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('TEL_RE',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.TEL_RE ">{{ elemento.TEL_RE }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('TEL_RE',elemento.cambios) ">{{ elemento.TEL_RE }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('TEL_TR',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('TEL_TR',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.TEL_TR ">{{ elemento.TEL_TR }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('TEL_TR',elemento.cambios) ">{{ elemento.TEL_TR }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('TEL_CEL',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('TEL_CEL',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.TEL_CEL ">{{ elemento.TEL_CEL }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('TEL_CEL',elemento.cambios) ">{{ elemento.TEL_CEL }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('MAIL_ESTU',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('MAIL_ESTU',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.MAIL_ESTU ">{{ elemento.MAIL_ESTU }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('MAIL_ESTU',elemento.cambios) ">{{ elemento.MAIL_ESTU }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('PROMEDIO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('PROMEDIO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.PROMEDIO ">{{ elemento.PROMEDIO }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('PROMEDIO',elemento.cambios) ">{{ elemento.PROMEDIO }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('PER_GRADO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('PER_GRADO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.PER_GRADO ">{{ elemento.PER_GRADO }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('PER_GRADO',elemento.cambios) ">{{ elemento.PER_GRADO }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('FECHA_GRADO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('FECHA_GRADO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.FECHA_GRADO ">{{ elemento.FECHA_GRADO }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('FECHA_GRADO',elemento.cambios) ">{{ elemento.FECHA_GRADO }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('ACTA_GRADO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('ACTA_GRADO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.ACTA_GRADO ">{{ elemento.ACTA_GRADO }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('ACTA_GRADO',elemento.cambios) ">{{ elemento.ACTA_GRADO }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('LIBRO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('LIBRO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.LIBRO ">{{ elemento.LIBRO }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('LIBRO',elemento.cambios) ">{{ elemento.LIBRO }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('FOLIO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('FOLIO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.FOLIO ">{{ elemento.FOLIO }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('FOLIO',elemento.cambios) ">{{ elemento.FOLIO }}</ng-container>
                                </td>
                                <td>
                                  <div [class]="ValidarCampoEnObjeto('N_DIPLOMA',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('N_DIPLOMA',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.N_DIPLOMA ">{{ elemento.N_DIPLOMA }}</div>
                                  <ng-container *ngIf = " !ValidarCampoEnObjeto('N_DIPLOMA',elemento.cambios) ">{{ elemento.N_DIPLOMA }}</ng-container>
                                </td>
                                <td>{{ elemento.cambios }}</td>
            
            
            
                              </tr>
            
                            </tbody>
                          </table>
                        
                        </div>
                      </div>



                    </div>
                  </ng-template>
                </ngb-tab>    

                <ngb-tab>
                  <ng-template ngbTabTitle>Cambios Masivos</ng-template>
                  <ng-template ngbTabContent>
                    <div class="ngTabContainer">

                      <div class="row">

                        <div class="col-sm-6">

                          <div class="row">
                            <div class="col-sm">
                              <h5 class="text-center">Tipo Documento</h5>
                            </div>
                          </div>


                          <div class="row justify-content-center ">                
                            <div class="col-sm overflow-auto tablaCambios">
                
                              <table class="table table-sm table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Valor Recibido</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Cambio</th>
                                  </tr>
                                </thead>
                                <tbody>        
                                  <tr *ngFor="let elemento of arregloCambiosMasivos.tipoDocumento; let indiceCambiosTiposDocumentos = index;">
                                    <td scope="row">{{ elemento.descripcion }}</td>
                                    <td>{{ elemento.cantidad }}</td>
                                    <td>
                                      <div class="input-group input-group-sm">
                                        <select class="form-control form-control-sm">
                                          <option *ngFor="let elemento of datosTiposDocumentos; let indiceListaTiposDocumentos = index" value="{{elemento.id}}">{{elemento.descripcion}}</option>
                                        </select>  
                                        <div class="input-group-append">
                                          <button type="button" class="btn btn-outline-primary"  (click)="ActivarModalHistoricos( modalhistoricosPersonal, 1 )"><i class="fa fa-exchange"></i></button>
                                        </div>
                                        </div>
                                    </td>
                                  </tr>
                               </tbody>
                              </table>
                            </div>
                          </div>

                        </div>

                        <div class="col-sm-6">

                          <div class="row">
                            <div class="col-sm">
                              <h5 class="text-center">Expedición Documento</h5>
                            </div>
                          </div>


                          <div class="row justify-content-center ">                
                            <div class="col-sm overflow-auto tablaCambios">
                
                              <table class="table table-sm table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Valor Recibido</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Cambio</th>
                                  </tr>
                                </thead>
                                <tbody>        
                                  <tr *ngFor="let elemento of arregloCambiosMasivos.expDocumento; let indiceCambiosMunicipios = index;">
                                    <td scope="row">{{ elemento.descripcion }}</td>
                                    <td>{{ elemento.cantidad }}</td>
                                    <td>
                                      <div class="input-group input-group-sm">
                                        <select class="form-control form-control-sm">
                                          <option *ngFor="let elemento of datosMunicipios; let indiceTListaMunicipios = index" value="{{elemento.id}}">{{elemento.descripcion}}</option>
                                        </select>  
                                        <div class="input-group-append">
                                          <button type="button" class="btn btn-outline-primary"  (click)="ActivarModalHistoricos( modalhistoricosPersonal, 1 )"><i class="fa fa-thumbs-up"></i></button>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                               </tbody>
                              </table>
                            </div>
                          </div>                          

                        </div>

                      </div>

                      <div class="row">


                        <div class="col-sm-6">

                          <div class="row">
                            <div class="col-sm">
                              <h5 class="text-center">Genero</h5>
                            </div>
                          </div>


                          <div class="row justify-content-center ">                
                            <div class="col-sm overflow-auto tablaCambios">
                
                              <table class="table table-sm table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Valor Recibido</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Cambio</th>
                                  </tr>
                                </thead>
                                <tbody>        
                                  <tr *ngFor="let elemento of arregloCambiosMasivos.genero; let indiceCambiosGeneros = index;">
                                    <td scope="row">{{ elemento.descripcion }}</td>
                                    <td>{{ elemento.cantidad }}</td>
                                    <td>
                                      <div class="input-group input-group-sm">
                                        <select class="form-control form-control-sm">
                                          <option value="M">Masculino</option>
                                          <option value="F">Femenino</option>
                                        </select>  
                                        <div class="input-group-append">
                                          <button type="button" class="btn btn-outline-primary"  (click)="ActivarModalHistoricos( modalhistoricosPersonal, 1 )"><i class="fa fa-thumbs-up"></i></button>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                               </tbody>
                              </table>
                            </div>
                          </div>                            

                        </div>
                        <div class="col-sm-6">

                          <div class="row">
                            <div class="col-sm">
                              <h5 class="text-center">Programa</h5>
                            </div>
                          </div>


                          <div class="row justify-content-center ">                
                            <div class="col-sm overflow-auto tablaCambios">
                
                              <table class="table table-sm table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Valor Recibido</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Cambio</th>
                                  </tr>
                                </thead>
                                <tbody>        
                                  <tr *ngFor="let elemento of arregloCambiosMasivos.programa; let indiceCambiosProgramas = index;">
                                    <td scope="row">{{ elemento.descripcion }}</td>
                                    <td>{{ elemento.cantidad }}</td>
                                    <td>
                                      <div class="input-group input-group-sm">
                                        <select class="form-control form-control-sm">
                                          <option *ngFor="let elemento of datosProgramas; let indiceTListaProgramas = index" value="{{elemento.id}}">{{elemento.codigo}}</option>
                                        </select>  
                                        <div class="input-group-append">
                                          <button type="button" class="btn btn-outline-primary"  (click)="ActivarModalHistoricos( modalhistoricosPersonal, 1 )"><i class="fa fa-thumbs-up"></i></button>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                               </tbody>
                              </table>
                            </div>
                          </div>        

                        </div>                                                                      
                      
                      </div>
         

                    </div>
                  </ng-template>
                </ngb-tab>

              </ngb-tabset>

            </div>
          </div>


          

        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <hr>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-sm-3">
          <button type="button" class="btn btn-outline-primary btn-block" (click)="CambiarPaso(1)">Anterior</button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-outline-primary btn-block" (click)="CambiarPaso(3)">Siguiente</button>
        </div>
      </div>

    </div>

  </div>









</div>


 -->
