.contenedor{
    overflow: auto;
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(0,0,0,0.04); /* Black w/ opacity */
}

.tablaInformacionA{
    max-height: 270px;
    min-height: 270px;
}

.tablaInformacionB{
    max-height: 400px;
    min-height: 400px;
}

.tablaCambios{
    max-height: 180px;
    min-height: 180px;
}

.tablaInformacionB .conCambio{
    background-color: #25d825;
}
