<div class="container-fluid">

  <h1 class="text-center">Cargue de {{ controladorCargues.caracteristicas.tituloProceso }}</h1>


  <div class="d-flex align-items-center container-fluid contenedor roundUp">
    <div class="pr-1">       <h5>Progreso:</h5> </div>
    <div class="flex-grow-1"> <ngb-progressbar value="{{ controlVisual.progresoActual }}" showValue="true"></ngb-progressbar></div>
  </div>

  <!-- --------------------------------------------------------  PASO 1 -------------------------------------------------------- -->
  <div class="contenedor roundDown mb-2" *ngIf="controlVisual.pasoActualValor == 1">
    <app-cargues-componentes-precargar
      [controlVisual] = "controlVisual"
      [controladorCargues] = "controladorCargues"
    >  
    </app-cargues-componentes-precargar>
  </div>

  <!-- --------------------------------------------------------  PASO 2 -------------------------------------------------------- -->
  <div class="contenedor roundDown mb-2" *ngIf="controlVisual.pasoActualValor == 2">
    <ng-container [ngSwitch]="controladorCargues.caracteristicas.tipo">

      <ng-container *ngSwitchCase="1">
        <app-cargues-componentes-analisistipo1
          [controlVisual] = "controlVisual" 
          [controladorCargues] = "controladorCargues"
        >
        </app-cargues-componentes-analisistipo1>
      </ng-container>
      
    </ng-container>
  </div>



  <div class="container-fluid mb-2">
    <div class="row justify-content-end">
      <div class="col-3" *ngIf="controlVisual.pasoActualValor != 1">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="CambiarPaso(-1)" [disabled]="controlVisual.desactivarPasos.anterior">Anterior</button>
      </div>
      <div class="col-3" *ngIf="controlVisual.pasoActualValor != controladorCargues.caracteristicas.totalPasos">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="CambiarPaso(1)" [disabled]="controlVisual.desactivarPasos.siguiente">Siguiente</button>
      </div>
    </div>
  </div>

</div>

