
  <!-- tabla de o lista de empleados -->
  <div class="row">
      <div>
        <h1 align='center'>Lista Personas</h1>
          <form>
              <div class="form-group form-inline form">
                  <i class="fa fa-search search"></i><p>Buscar: </p><input class="form-control ml-2" type="text" [formControl]="filter2"/>
              </div>
            </form>

          <table class="table table-striped">
              <thead class="thead">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Cohorte</th>
                  <th scope="col">Id Uniminuto</th>
                  <th scope="col">Sede</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Documento</th>
                  <th scope="col">Programa</th>
                  <th scope="col">Celular</th>
                  <th scope="col">Correo Institucional</th>
                  <th scope="col">Correo Personal</th> 
                  <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let persona of  personas$ | async; index as i">
                <td><ngb-highlight [result]="persona.id | number" [term]="filter2.value"></ngb-highlight></td>                
                <td><ngb-highlight [result]="persona.cohorte" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.iduniminuto" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.sede" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.nombreCompleto" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.documento | number" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.programa" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.celular" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.correoInstitucional" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.correoPersonal" [term]="filter2.value"></ngb-highlight></td>
                <td>
                    <button class="btn btn-outline-secondary mr-2 "  placement="left" ngbTooltip="Editar" (click)="VerPersona({id : persona.id, modo : 2, registro : persona})">
                        <i class="fa fa-pencil"></i>
                    </button>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
