
  <!-- tabla de o lista de empleados -->
  <div class="row">
      <div>
        <h1 align='center'><strong>Lista Personas</strong></h1>

        <br>
    
        <table class="table table-striped">
          <!-- titulo de las columnas -->
          <thead>
              <tr>
                  <th>&nbsp;</th>
                  <th scope="col"><input class="form-control" [(ngModel)]="searchObjectEmpleados.Cohorte" ></th>
                  <th scope="col"><input class="form-control" [(ngModel)]="searchObjectEmpleados.Id" ></th>
                  <th scope="col"><input class="form-control" [(ngModel)]="searchObjectEmpleados.Sede" ></th>
                  <th scope="col"><input class="form-control" [(ngModel)]="searchObjectEmpleados.Nombre" ></th>
                  <th scope="col"><input class="form-control" [(ngModel)]="searchObjectEmpleados.Cedula" ></th>
                  <th scope="col"><input class="form-control" [(ngModel)]="searchObjectEmpleados.Programa" ></th>
                  <th scope="col"><input class="form-control" [(ngModel)]="searchObjectEmpleados.Celular"></th>
                  <th scope="col"><input class="form-control" [(ngModel)]="searchObjectEmpleados.CorreoInstitucional"></th>
                  <th scope="col"><input class="form-control" [(ngModel)]="searchObjectEmpleados.CorreoPersonal"></th>
                  <th></th>   
              </tr>
            <tr class="colums">
              <th scope="col">#</th>
              <th scope="col">Cohorte</th>
              <th scope="col">ID</th>
              <th scope="col">Sede</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cedula</th>
              <th scope="col">Programa</th>
              <th scope="col">Celular</th>
              <th scope="col">Correo Institucional</th>
              <th scope="col">Correo Personal</th> 
              <th scope="col"></th>
            </tr>
          </thead>
    
          <!-- informacion de la tabla o listado de empleados -->
          <tbody>
              <tr>
            <!-- <tr *ngFor="let Empleado of listaEmpleados | arrayFilter : 
                { 
                  Documento:          searchObjectEmpleados.Cohorte,  
                  Nombres:            searchObjectEmpleados.Id,
                  Apellidos:          searchObjectEmpleados.Sede,
                  Especialidad:     searchObjectEmpleados.Nombre,
                  TarjetaProfesional: searchObjectEmpleados.Cedula,
                  CorreoElectronico:  searchObjectEmpleados.Programa,
                  Direccion:          searchObjectEmpleados.Celular,
                  NombreCiudad:       searchObjectEmpleados.CorreoInstitucional,
                  Titular:            searchObjectEmpleados.CorreoPersonal,
                 
                };
                let indice=index"
            > -->
              <th scope="row">{{personas.IdPersona}}</th>
              <td>{{personas.Cohorte}}</td>
              <td>{{personas.Id}}</td>
              <td>{{personas.Sede}}</td>
              <td>{{personas.Nombre}}</td>
              <td>{{personas.Cedula}}</td>
              <td>{{personas.Programa}}</td>
              <td>{{personas.Celular}}</td>
              <td>{{personas.CorreoInstitucional}}</td>
              <td>{{personas.CorreoPersonal}}</td>
              <td><button class="btn btn-primary" (click)="verPersona(persona.IdPersona)">Editar</button></td>
        </tr>
          </tbody>
    
        </table>
      </div>
  </div>
      <div align='center' >
        <div *ngIf="listaEmpleados==null" class="loader"></div>
      </div>
    