
  <!-- tabla de o lista de empleados -->
  <div class="row">
      <div>
        <h1 align='center'>Lista Personas</h1>
          <form>
              <div class="form-group form-inline form">
                  <i class="fa fa-search search"></i><p>Buscar: </p><input class="form-control ml-2" type="text" [formControl]="filter2"/>
              </div>
            </form>

          <table class="table table-striped">
              <thead class="thead">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Cohorte</th>
                  <th scope="col">ID</th>
                  <th scope="col">Sede</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cedula</th>
                  <th scope="col">Programa</th>
                  <th scope="col">Celular</th>
                  <th scope="col">Correo Institucional</th>
                  <th scope="col">Correo Personal</th> 
                  <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let persona of  personas$ | async; index as i">
                <td><ngb-highlight [result]="persona.IdPersona  | number" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.Cohorte" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.Id | number" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.Sede" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.Nombre" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.Cedula" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.Programa" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.Celular" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.CorreoInstitucional" [term]="filter2.value"></ngb-highlight></td>
                <td><ngb-highlight [result]="persona.CorreoPersonal" [term]="filter2.value"></ngb-highlight></td>
                <td>
                    <button class="btn btn-outline-warning" (click)="verPersona({id : persona.IdPersona, modo:2})">
                        <i class="fa fa-pencil"></i>
                    </button>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
  </div>
