
<!-- contenedor para formulario de registro -->

<div class="container contenido">
    <div class="tituloSecundario">
        <strong>
                <div><i>CAMBIO DE CONTRASEÑA</i></div>
        </strong>
        <div>&nbsp;</div>        
    </div>

    <div>

    <label><b>Actual</b></label>
    <input type="password" class="form-control" [(ngModel)]="claveActual" placeholder="Contraseña Actual" [pattern]="claveModelo" #claveMensajeA="ngModel" required>      
    <ngb-alert  *ngIf="claveMensajeA.errors?.pattern || claveActual=='' || claveActual==null " type="custom" [dismissible]="false">La contraseña no puede estar vacia, debe tener Mayusculas, Minusculas, Numeros y Minimo 6 caracteres"</ngb-alert>
    <label><b>Nueva</b></label>
    <input type="password" class="form-control" [(ngModel)]="claveNueva" placeholder="Nueva Contraseña" [pattern]="claveModelo" #claveMensajeN="ngModel" required>
    <ngb-alert  *ngIf="claveMensajeN.errors?.pattern" type="custom" [dismissible]="false">La contraseña debe tener Mayusculas, Minusculas, Numeros y Minimo 6 caracteres"</ngb-alert>
    <label><b>Confirmación</b></label>
    <input type="password" class="form-control" [(ngModel)]="claveConfirmada" placeholder="Confirmar Contraseña" [pattern]="claveModelo" #claveMensajeC="ngModel" required>
    <ngb-alert  *ngIf="claveMensajeC.errors?.pattern" type="custom" [dismissible]="false">La contraseña debe tener Mayusculas, Minusculas, Numeros y Minimo 6 caracteres"</ngb-alert>
</div>


<!-- contenedor para opciones o botones de login normal-->

<div  class="container opcionesPie roundDown">
    <button class="mibutton" 
            *ngIf=  "   ( claveMensajeA.errors?.pattern || claveMensajeN.errors?.pattern || claveMensajeC.errors?.pattern ) ||
                        ( claveActual=='' || claveActual==null ) ||
                        ( claveNueva=='' || claveNueva==null ) ||
                        ( claveConfirmada=='' || claveConfirmada==null )"
            disabled
    >
        <del>Validar</del>
    </button>

    <button 
    class="mibutton" 
    *ngIf="
        ( claveMensajeN.errors?.pattern || claveMensajeC.errors?.pattern ) ||
        ( claveNueva=='' || claveNueva==null ) ||
        ( claveConfirmada=='' || claveConfirmada==null )
    " 
    disabled
>
    <del>Validar</del>
</button>       
    <button class="mibutton" *ngIf="procesando == false" (click)="ConfirmarCambio(confirmador)">Modificar</button>
    <button class="mibutton" *ngIf="procesando == true" ><i class="fa fa-spinner fa-spin"></i></button>
</div>


<!-- emergente para confirmación -->
<ng-template #confirmador let-modal>
<div class="modal-header">
    <h4 class="modal-title">Confirmación</h4>
</div>
<div class="modal-body">
    <p>Esta seguro de realizar la asignación de su nueva contraseña.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('SI')">Si</button>            
    <button type="button" ngbAutofocus  class="btn btn-outline-secondary" (click)="modal.dismiss('NO')">No</button>            
</div>
</ng-template>