<h1 align="center">Reportes Predefinidos</h1>




<div class="container filtrosContenedor">
  <div class="container filtros ">
    <div class=" col-md-6 selecReporte">
      <label >Eleccion de reporte:</label>
      <select class="form-control" #selectReporte >
          <option value="0" disabled >--Seleccione Reporte--</option>
          <option value="1">Bateria de indicadores</option>
          <option value="2">Estadistico o detallado de momento 0</option>
          <option value="3">Formato de calidad institucional</option>
      </select>
    </div>

      <div class="row">
        
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Cohortes</button>
              <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                <div class="row" >
                  <div class="col-md-12 cuadro">
                    <div>
                      <table class="table table-striped tablaFiltros" >                                       
                        <thead>
                          <tr class="colums">
                            <th scope="col" >                               
                                <label class="contenedor">
                                    <input type="checkbox" #chkCohorte >
                                    <span class="checkmark" (click)="SeleccionarTodos(cohortes, chkCohorte)" ></span>
                                </label>
                            </th>
                            <th scope="col" >Cohorte</th>
                          </tr>
                        </thead>                      
                                            
                        <tbody>
                          <tr *ngFor="let cohorte of cohortes" >
                            <td>
                              <label class="contenedor" >
                                <input type="checkbox" [(ngModel)]="cohorte.Seleccionado" >
                                <span class="checkmark" (click)="DesseleccionarCabecera(chkCohorte)"></span>
                              </label>
                            </td>
                            <td  >{{cohorte.Nombre}}</td>
                          </tr>
                        </tbody>                          
                      </table>
                    </div>        
                  </div>
                </div>
              </div>
            </div>
          
                      
        
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Programas</button>
              <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                <div class="row">
                  <div class="col-md-12 cuadro">
                    <div >
                      <table class="table table-striped tablaFiltros" >
                        <thead>
                          <tr class="colums">
                            <th scope="col">
                                <label class="contenedor">
                                    <input type="checkbox" #chkPrograma >
                                    <span class="checkmark" (click)="SeleccionarTodos(programas, chkPrograma)"></span>
                                </label>
                            </th>
                            <th scope="col">Programa</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let programa of programas" >
                            <td>
                                <label class="contenedor">
                                  <input type="checkbox" [(ngModel)]="programa.Seleccionado" >
                                  <span class="checkmark" (click)="DesseleccionarCabecera(chkPrograma)"></span>
                                </label>
                              </td>
                            <td >{{programa.Nombre}}</td>

                          </tr>             
                        </tbody>
                      </table>
                    </div>        
                  </div>
                </div>
              </div>
            </div>
      
                  
        
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Sedes</button>
              <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                <div class="row" >
                  <div class="col-md-12 cuadro">
                    <div >
                      <table class="table table-striped tablaFiltros" >
                        <thead>                  
                          <tr class="colums">
                            <th scope="col">
                                <label class="contenedor">
                                    <input type="checkbox" #chkSede >
                                    <span class="checkmark" (click)="SeleccionarTodos(sedes, chkSede)"></span>
                                  </label>
                            </th>
                            <th scope="col" >Sede</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let sede of sedes" >
                            <td>
                                <label class="contenedor">
                                  <input type="checkbox" [(ngModel)]="sede.Seleccionado" >
                                  <span class="checkmark" (click)="DesseleccionarCabecera(chkSede)"></span>
                                </label>
                            </td>
                            <td >{{sede.Nombre}}</td>
                          </tr>
                        </tbody>              
                      </table>
                    </div>        
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div> 
        

      
        <div class="contenedorCreador">
            <button type="button" class="btn btn-outline-secondary mr-2 creador" (click)="crear(selectReporte)" placement="top" ngbTooltip="Crear en pantalla"><i class="fa fa-pie-chart"></i></button>
            <button type="button" class="btn btn-outline-secondary  creador" (click)="exportToPdf.saveAs('reporteEstadistico.pdf')" placement="top" ngbTooltip="Crear en pdf"><i class="fa fa-print"></i></button>   
        </div>
        

    
  


</div>





<kendo-pdf-export #exportToPdf paperSize="Letter" margin="1cm" [scale]="escalaPdf">

  <div><h2>{{reporteSeleccionado.nombre}}</h2></div>

  <div *ngIf=" reporteSeleccionado.tipo == 2">
      <div class="container" *ngFor="let dato of datos| slice:0; let i = index" >
          <div class="row">
            <div class="col-md" style="background: lightblue;">
                <h5>{{dato.descripcion}}</h5>      
            </div>
          </div>
      
          <div class="row">  
      
            <div class="col-md-6 cardsContainer">
      
              <div class="card" >
                <!-- <h4 align="center">N° Graduados por año</h4> -->
                <div class="card-body">
                  <p class="card-text">{{dato.barras.descripcion}}</p>
                </div>            
                <div>
                  <div>
                    <div class="chart">
                      <canvas baseChart
                        [datasets]="datos[i].barras.datos"
                        [labels]="datos[i].barras.etiquetas"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                      ></canvas>
                    </div>
                  </div>
                </div>
              </div>
          
            </div>
            <div class="col-md-6 cardsContainer" >
      
              <div class="card " >
                <div class="card-body">
                  <p class="card-text" >{{dato.torta.descripcion}}</p>
                </div>            
                <!-- <h4 align="center">Graduados hasta la fecha</h4> -->
                <div class="flex">
                  <div class="flex-item">
                    <div style="display: block;">
                      <canvas baseChart
                        [data]="datos[i].torta.datos"
                        [labels]="datos[i].torta.etiquetas"
                        [chartType]="pieChartType"
                        [colors]="datos[i].torta.colores"
                        [legend]="pieChartLegend"
                        [options]="pieChartOptions"
                      ></canvas>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
      
          </div>
          
          <div class="row">
            <div class="col-md" >
      
              <table class="table table-striped" >
                <thead>
                  <tr>
                    <th scope="col" [class]="elementoIndex == (dato.tabla.cabecera.length - 1)?'total':''" *ngFor="let elemento of dato.tabla.cabecera; let elementoIndex = index">{{elemento}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let fila of dato.tabla.cuerpo">
                    <ng-container *ngFor="let elemento of fila; let elementoIndex = index">
                      <th scope="row" *ngIf="elementoIndex == 0">{{elemento}}</th>
                      <td *ngIf="elementoIndex > 0">{{elemento}}</td>                              
                    </ng-container>              
                  </tr>
                </tbody>
                <tfoot>
                    <tr>
                      <td *ngFor="let elemento of dato.tabla.pie">{{elemento}}</td>              
                    </tr>
                  </tfoot>          
              </table>
      
            </div>  
          </div>
      
          <hr>   
      
        </div>

  </div>

  <div *ngIf="reporteSeleccionado.tipo == 1" >
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
  </div>
                                                    
  <div *ngIf="reporteSeleccionado.tipo == 3" >

  </div>
  
 
           
</kendo-pdf-export>




 