.table{
    margin-left: 0;
    line-height: normal;
    table-layout: fixed;
}

table th {
  overflow: hidden;
  text-overflow: ellipsis;
}

table .total{
  width: 50px;
}

.container{
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(0,0,0,0.04); /* Black w/ opacity */
}

.container.filtros{
  display: flex;
  align-items: flex-end;
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

.container.filtrosContenedor{
  display: flex;
  
}

button{
    margin: .5rem;
}

.contenedor {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10%;
  }
  
 

  .contenedor input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 20%;
  }
  

  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color:  #ccc;
    border-radius: 20%;
  }
  
 
  .contenedor:hover input ~ .checkmark {
    background-color: rgb(158, 154, 154);
    border-radius: 20%;
  }
  
  
  .contenedor input:checked ~ .checkmark {
    background-color: #2196F3;
    border-radius: 20%;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border-radius: 20%;
  }
  

  .contenedor input:checked ~ .checkmark:after {
    display: block;
    border-radius: 20%;
  }
  

  .contenedor .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 10%;
  }

  .canvas{
      height: 90%;
  }

.cardsContainer{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-left: 5px;
}

.card{
    margin: .5rem;
    
}

kendo-pdf-document .impresion {
  min-width: 1200px; 
  max-width: 1200px;
  width: 1200px;
}

kendo-pdf-export {
  font-family:  "Arial";

}


@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/arial.ttf") format("truetype");
}

.selecReporte{
  display: inline-block;
  margin: .5rem;
}

.creador{
  font-size:1.8rem;
}

.contenedorCreador{
  display: flex;
  margin: 0rem 1rem 0 1rem ;
}

button.creador{
  margin: 1rem;
}

.dropdown-menu.show{
  min-width: 15rem;
}

.tablaFiltros td, .tablaFiltros th{
  vertical-align: middle;
}

.tablaFiltros th:first-child{
  width: 40px;
}

div h2{
  text-align: center;
  padding: 1rem;
}

