<h1 align="center">Reportes Predefinidos</h1>


<div class="row">
            <div class="col-md-1">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Cohortes</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                        <div class="row" >
                            <div class="col-md-12 cuadro">
                                <h3  align='center'>Lista Cohortes</h3>
                    
                               <div class="row" >
                                    <table class="table table-striped" >
                                        
                                            <thead>
                                            
                                                <tr class="colums">
                                                <th scope="col">#</th>
                                                <th scope="col">Cohorte</th>
                                                <th scope="col"></th>
                    
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody  >
                                        
                                                <tr *ngFor="let cohorte of cohortes" >
                    
                                                <td scope="row">{{cohorte.Id}}</td>
                                                <td>{{cohorte.Nombre}}</td>
                                                <td>
                                                        <label class="container">
                                                                <input type="checkbox" [(ngModel)]="cohorte.Seleccionado" >
                                                                <span class="checkmark"></span>
                                                        </label>
                    
                                                </td>
                                                </tr>
                    
                                            
                                            </tbody>
                                        
                                        </table>
                                </div>        
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        
       
                <div class="col-md-1" style="margin-right: 10px;">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Programas</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                            <div class="row" >
                                <div class="col-md-12 cuadro">
                                    <h3  align='center'>Lista Programas</h3>
                        
                                   <div class="row" >
                                        <table class="table table-striped" >
                                            
                                                <thead>
                                                
                                                    <tr class="colums">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Programa</th>
                                                    <th scope="col"></th>
                        
                                                    </tr>
                                                </thead>
                                            
                                            
                                                <tbody  >
                                            
                                                    <tr *ngFor="let programa of programas" >
                        
                                                    <td scope="row">{{programa.Id}}</td>
                                                    <td>{{programa.Nombre}}</td>
                                                    <td>
                                                            <label class="container">
                                                                    <input type="checkbox" [(ngModel)]="programa.Seleccionado" >
                                                                    <span class="checkmark"></span>
                                                            </label>
                        
                                                    </td>
                                                    </tr>
                        
                                                
                                                </tbody>
                                            
                                            </table>
                                    </div>        
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            
           
                <div class="col-md-1">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Sedes</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                            <div class="row" >
                                <div class="col-md-12 cuadro">
                                    <h3  align='center'>Lista Sedes</h3>
                        
                                   <div class="row" >
                                        <table class="table table-striped" >
                                            
                                                <thead>
                                                
                                                    <tr class="colums">
                                                    <th scope="col">#</th>
                                                    <th scope="col">Sede</th>
                                                    <th scope="col"></th>
                        
                                                    </tr>
                                                </thead>
                                            
                                            
                                                <tbody  >
                                            
                                                    <tr *ngFor="let sede of sedes" >
                        
                                                    <td scope="row">{{sede.Id}}</td>
                                                    <td>{{sede.Nombre}}</td>
                                                    <td>
                                                            <label class="container">
                                                                    <input type="checkbox" [(ngModel)]="sede.Seleccionado" >
                                                                    <span class="checkmark"></span>
                                                            </label>
                        
                                                    </td>
                                                    </tr>
                        
                                                
                                                </tbody>
                                            
                                            </table>
                                    </div>        
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            
</div>





<label>Eleccion de reporte:</label>
<select class="form-control"  required>
    <option value="0" disabled >--Seleccione Reporte--</option>
    <option value="1">Nivel de satisfacción</option>
    <option value="2">Formacion integral</option>
    <option value="3">Disponibilidad de profesores</option>
    <option value="4">Opotunidad de participacion  en   actividades extracurriculares</option>
    <option value="5">Relaciones interpersonales con la comunidad institucional </option>
    <option value="6">Oportunidades para crecimiento y desarrollo personal</option>
    <option value="7">Disponibilidad para tomar cursos de un programa distinto</option>
    <option value="8">Apoyos académicos</option>
    <option value="9">Actividades de investigación</option>
    <option value="10">Acompañamiento para la búsqueda de oportunidades laborales</option>
</select>
<button type="button" class="btn" (click)="crear(1)">Crear en pantalla</button>
<button type="button" class="btn btn-info">Crear en pdf</button>

<div align="center" class="container row">

    
{{datos[0].torta.datos[0]}}

        <table class="table col-md-12" >
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Programa</th>
                    <th scope="col">Numero de graduados</th>
                    <th scope="col">Sede</th>
                    <th scope="col">Cohorte</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>

            <div class="card  col-md-6" >
 
                    <div style="display: block" >
                            <h4 align="center">Número de graduados por año</h4>
                            <canvas baseChart
                                [datasets]="datos[0].barras.datos"
                                [labels]="datos[0].barras.etiquetas"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                            </div>
            </div>

            <div class="card  col-md-6" >
                    <div class="chart">
                        <h4 align="center">Graduados hasta la fecha</h4>
                        <canvas baseChart
                            [data]="datos[0].torta.datos"
                            [labels]="datos[0].torta.etiquetas"
                            [chartType]="pieChartType"
                            [colors]="datos[0].torta.colores"
                            [legend]="pieChartLegend"
                            [options]="pieChartOptions">
                        </canvas>
                    </div>
            </div>
</div>




 