<div class="blackout" *ngIf="!EstoyListo()">
  <div class="spinner spinner-grow text-primary" role="status">
  </div>
</div>

<div class="container-fluid">


  <div class="d-flex mb-2">
    <div class="flex-grow-1">
      <h4 class="my-auto py-0">Paso 2: Analisis de Archivo</h4> 
      <div class="d-flex">
        <div class="pr-1 py-0 my-auto">       <span>{{ progresoLocal.proceso }}</span> </div>
        <div class="flex-grow-1 py-0 my-auto pr-2"> <ngb-progressbar value="{{ progresoLocal.valor }}" showValue="true"></ngb-progressbar></div>
      </div>        
    </div>
    <div class="py-0 w-25 my-auto">
      <button 
        type="button"
        [class]=" 'btn ' + ( HayCambiosMasivos() ? 'btn-danger' : 'btn-outline-secondary' ) + ' btn-block'" 
        (click)="ActivarModalCambiosMasivos(modalCamviosMasivos)"
        [disabled]="!HayCambiosMasivos()"
      ><i *ngIf="HayCambiosMasivos()" class="fa fa-exclamation" aria-hidden="true"></i> Cambios Masivos</button> 
    </div>     
  </div>




  <ngb-tabset>

    <ngb-tab>
      <ng-template ngbTabTitle>Nuevas Personas ( {{arregloNuevasPersonas.length }} de {{ controladorCargues.datos.length }} )</ng-template>
      <ng-template ngbTabContent>
        <div class="ngTabContainer">

          <div class="table-responsive tablaInformacion">
            <table class="table table-sm table-striped table-fixed">
              <thead>
                <tr>
                  <th scope="col">Programa</th>                    
                  <th scope="col">Cohorte</th>
                  <th scope="col">Id</th>
                  <th scope="col">Documento</th>
                  <th scope="col">Exp. Doc.</th>                    
                  <th scope="col">Apellidos</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Genero</th>
                  <th scope="col">Tel. Res.</th>
                  <th scope="col">Tel. Trab.</th>
                  <th scope="col">Tel Cel.</th>
                  <th scope="col">Correo</th>
                  <!-- <th scope="col">
                    
                    <ng-container *ngIf="seleccionarTodos.nuevasPersonas; then btn_nuevasPersonas_check_on; else btn_nuevasPersonas_check_off"></ng-container>

                    <ng-template #btn_nuevasPersonas_check_off>
                      <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Todos" (click)="SeleccionarTodos('nuevasPersonas')">
                        <i class="fa fa-circle-o"></i>
                      </button>
                    </ng-template>                      

                    <ng-template #btn_nuevasPersonas_check_on>
                      <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Ninguno" (click)="SeleccionarTodos('nuevasPersonas')">
                        <i class="fa fa-check-circle-o"></i>
                      </button>
                    </ng-template>  

                  </th> -->
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let elemento of arregloNuevasPersonas; let indicePersonas = index;" [class]="elemento.repetido?'bg-danger':''">
                  <th scope="row">{{ elemento.CARRERA }}</th>
                  <td>{{ elemento.PER_GRADO }}</td>
                  <td>{{ elemento.SPRIDEN_ID }}</td>
                  <td>{{ elemento.DOCUMENTO }}</td>
                  <td>{{ elemento.CIUDAD_EXP_DOC }}</td>
                  <td>{{ elemento.APELLIDOS }}</td>
                  <td>{{ elemento.P_NOMBRE + " " + elemento.S_NOMBRE }}</td>
                  <td>{{ elemento.GENERO }}</td>
                  <td>{{ elemento.TEL_RE }}</td>
                  <td>{{ elemento.TEL_TR }}</td>
                  <td>{{ elemento.TEL_CEL }}</td>
                  <td>{{ elemento.MAIL_ESTU }}</td>
                  <!-- <td class="text-center">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck_nuevasPersonas_{{ indicePersonas }}" [checked]="elemento.seleccionado">
                      <label class="custom-control-label " for="customCheck_nuevasPersonas_{{ indicePersonas }}"></label>
                    </div>
                  </td> -->

                </tr>

              </tbody>
            </table>
          </div>

        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Nuevos Estudios ( {{arregloNuevosEstudios.length }} de {{ controladorCargues.datos.length }} )</ng-template>
      <ng-template ngbTabContent>
        <div class="ngTabContainer">
          
          <div class="table-responsive tablaInformacion">
            <table class="table table-sm table-striped table-fixed">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col" >Documento</th>
                  <th scope="col" >Apellidos</th>
                  <th scope="col" >Nombres</th>
                  <th scope="col" >Programa</th>
                  <th scope="col" >Cohorte</th>
                  <th scope="col" >F. Grado</th>
                  <th scope="col" >Acta</th>
                  <th scope="col" >Libro</th>
                  <th scope="col" >Folio</th>
                  <th scope="col" >Diploma</th>
                  <!-- <th scope="col">
                    
                    <ng-container *ngIf="seleccionarTodos.nuevosEstudios; then btn_nuevosEstudios_check_on; else btn_nuevosEstudios_check_off"></ng-container>

                    <ng-template #btn_nuevosEstudios_check_off>
                      <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Todos" (click)="SeleccionarTodos('nuevosEstudios')">
                        <i class="fa fa-circle-o"></i>
                      </button>
                    </ng-template>                      

                    <ng-template #btn_nuevosEstudios_check_on>
                      <button class="btn btn-sm" placement="left" ngbTooltip="Sel. Ninguno" (click)="SeleccionarTodos('nuevosEstudios')">
                        <i class="fa fa-check-circle-o"></i>
                      </button>
                    </ng-template>  

                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let elemento of arregloNuevosEstudios; let indiceEstudios = index;" [class]="elemento.repetido?'bg-danger':''">
                  <th scope="row">{{ elemento.SPRIDEN_ID }}</th>
                  <td>{{ elemento.DOCUMENTO }}</td>
                  <td>{{ elemento.APELLIDOS }}</td>
                  <td>{{ elemento.P_NOMBRE + " " + elemento.S_NOMBRE }}</td>
                  <td>{{ elemento.CARRERA }}</td>
                  <td>{{ elemento.PER_GRADO }}</td>
                  <td>{{ elemento.FECHA_GRADO }}</td>
                  <td>{{ elemento.ACTA_GRADO }}</td>
                  <td>{{ elemento.LIBRO }}</td>
                  <td>{{ elemento.FOLIO }}</td>
                  <td>{{ elemento.N_DIPLOMA }}</td>
                  <!-- <td class="text-center">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck_nuevosEstudios_{{ indiceEstudios }}" [checked]="elemento.seleccionado">
                      <label class="custom-control-label " for="customCheck_nuevosEstudios_{{ indiceEstudios }}"></label>
                    </div>
                  </td>                     -->
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Registros con Cambios ( {{arregloCambios.length }} de {{ controladorCargues.datos.length }} )</ng-template>
      <ng-template ngbTabContent>
        <div class="ngTabContainer">

          <div class="table-responsive tablaInformacion">
            <table class="table table-sm table-striped table-fixed">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Documento</th>
                  <th scope="col">Tip. Doc</th>
                  <th scope="col">Exp. Doc.</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">P. Nombre</th>
                  <th scope="col">S. Nombre</th>
                  <th scope="col">Genero</th>
                  <th scope="col">Programa</th>
                  <th scope="col">Tel. Res.</th>
                  <th scope="col">Tel. Trab.</th>
                  <th scope="col">Tel Cel.</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Promedio</th>                    
                  <th scope="col">Cohorte</th>
                  <th scope="col">F. Grado</th>
                  <th scope="col">Acta</th>
                  <th scope="col">Libro</th>
                  <th scope="col">Folio</th>
                  <th scope="col">Diploma</th>
                  <th scope="col">Cambios</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let elemento of arregloCambios; let indicePersonas = index;" [class]="elemento.repetido?'bg-danger':''">
                  <th scope="row">{{ elemento.SPRIDEN_ID }}</th>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('DOCUMENTO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('DOCUMENTO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.DOCUMENTO ">{{ elemento.DOCUMENTO }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('DOCUMENTO',elemento.cambios) ">{{ elemento.DOCUMENTO }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('TIPO_DOCUMENTO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('TIPO_DOCUMENTO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.TIPO_DOCUMENTO ">{{ elemento.TIPO_DOCUMENTO }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('TIPO_DOCUMENTO',elemento.cambios) ">{{ elemento.TIPO_DOCUMENTO }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('CIUDAD_EXP_DOC',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('CIUDAD_EXP_DOC',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.CIUDAD_EXP_DOC ">{{ elemento.CIUDAD_EXP_DOC }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('CIUDAD_EXP_DOC',elemento.cambios) ">{{ elemento.CIUDAD_EXP_DOC }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('APELLIDOS',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('APELLIDOS',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.APELLIDOS ">{{ elemento.APELLIDOS }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('APELLIDOS',elemento.cambios) ">{{ elemento.APELLIDOS }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('P_NOMBRE',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('P_NOMBRE',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.P_NOMBRE ">{{ elemento.P_NOMBRE }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('P_NOMBRE',elemento.cambios) ">{{ elemento.P_NOMBRE }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('S_NOMBRE',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('S_NOMBRE',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.P_NOMBRE ">{{ elemento.S_NOMBRE }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('S_NOMBRE',elemento.cambios) ">{{  elemento.S_NOMBRE }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('GENERO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('GENERO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.GENERO ">{{ elemento.GENERO }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('GENERO',elemento.cambios) ">{{ elemento.GENERO }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('CARRERA',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('CARRERA',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.CARRERA ">{{ elemento.CARRERA }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('CARRERA',elemento.cambios) ">{{ elemento.CARRERA }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('TEL_RE',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('TEL_RE',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.TEL_RE ">{{ elemento.TEL_RE }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('TEL_RE',elemento.cambios) ">{{ elemento.TEL_RE }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('TEL_TR',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('TEL_TR',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.TEL_TR ">{{ elemento.TEL_TR }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('TEL_TR',elemento.cambios) ">{{ elemento.TEL_TR }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('TEL_CEL',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('TEL_CEL',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.TEL_CEL ">{{ elemento.TEL_CEL }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('TEL_CEL',elemento.cambios) ">{{ elemento.TEL_CEL }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('MAIL_ESTU',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('MAIL_ESTU',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.MAIL_ESTU ">{{ elemento.MAIL_ESTU }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('MAIL_ESTU',elemento.cambios) ">{{ elemento.MAIL_ESTU }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('PROMEDIO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('PROMEDIO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.PROMEDIO ">{{ elemento.PROMEDIO }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('PROMEDIO',elemento.cambios) ">{{ elemento.PROMEDIO }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('PER_GRADO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('PER_GRADO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.PER_GRADO ">{{ elemento.PER_GRADO }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('PER_GRADO',elemento.cambios) ">{{ elemento.PER_GRADO }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('FECHA_GRADO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('FECHA_GRADO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.FECHA_GRADO ">{{ elemento.FECHA_GRADO }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('FECHA_GRADO',elemento.cambios) ">{{ elemento.FECHA_GRADO }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('ACTA_GRADO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('ACTA_GRADO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.ACTA_GRADO ">{{ elemento.ACTA_GRADO }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('ACTA_GRADO',elemento.cambios) ">{{ elemento.ACTA_GRADO }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('LIBRO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('LIBRO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.LIBRO ">{{ elemento.LIBRO }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('LIBRO',elemento.cambios) ">{{ elemento.LIBRO }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('FOLIO',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('FOLIO',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.FOLIO ">{{ elemento.FOLIO }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('FOLIO',elemento.cambios) ">{{ elemento.FOLIO }}</ng-container>
                  </td>
                  <td>
                    <div [class]="ValidarCampoEnObjeto('N_DIPLOMA',elemento.cambios)?'conCambio':''" *ngIf = " ValidarCampoEnObjeto('N_DIPLOMA',elemento.cambios) " data-toggle="tooltip" data-placement="right" [title]="'Valor Recibido: ' + elemento.cambios.N_DIPLOMA ">{{ elemento.N_DIPLOMA }}</div>
                    <ng-container *ngIf = " !ValidarCampoEnObjeto('N_DIPLOMA',elemento.cambios) ">{{ elemento.N_DIPLOMA }}</ng-container>
                  </td>
                  <td>{{ elemento.cambios }}</td>



                </tr>

              </tbody>
            </table>
          </div>

        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>


<!-- ************************************************* MODAL PARA SEGUIMIENTO ************************************************* -->  
<ng-template #modalCamviosMasivos let-modal>

  <div class="modal-header"> <h4 class="modal-title">Control de Cambios Masivos</h4> </div>
  <div class="modal-body">       

    <div class="row">

      <div class="col-sm-6">

        <h5 class="text-center">Tipo Documento</h5>

        <div class="table-responsive tablaCambios">
          <table class="table table-sm table-striped table-fixed">
            <thead>
              <tr>
                <th scope="col">Valor Recibido</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Cambio</th>
              </tr>
            </thead>
            <tbody>        
              <tr *ngFor="let elemento of cambiosMasivos.tipoDocumento; let indiceCambiosTiposDocumentos = index;">
                <td scope="row">{{ elemento.valor }}</td>
                <td>{{ elemento.cantidad }}</td>
                <td>
                  <div class="input-group input-group-sm">
                    <select class="form-control form-control-sm controlMasivos" [disabled]="elemento.bloqueo" [(ngModel)]="elemento.cambio_id" (ngModelChange)="CambioRegistroMasivoTipoDocumento( elemento, $event )">
                      <option *ngFor="let elemento of controladorTiposDocumentos.todos; let indiceListaTiposDocumentos = index" [ngValue]="elemento">{{elemento.descripcion}}</option>
                    </select>  
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-primary py-0 my-0"  (click)="ControlBloqueoMasivos(elemento)">
                        <i *ngIf="!elemento.bloqueo" class="fa fa-unlock" aria-hidden="true"></i>
                        <i *ngIf="elemento.bloqueo" class="fa fa-lock" aria-hidden="true"></i>
                      </button>
                    </div>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="col-sm-6">
        <h5 class="text-center">Expedición Documento</h5>

        <div class="table-responsive tablaCambios">
          <table class="table table-sm table-striped table-fixed">
            <thead>
              <tr>
                <th scope="col">Valor Recibido</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Cambio</th>
              </tr>
            </thead>
            <tbody>        
              <tr *ngFor="let elemento of cambiosMasivos.expDocumento; let indiceCambiosMunicipios = index;">
                <td scope="row">{{ elemento.valor }}</td>
                <td>{{ elemento.cantidad }}</td>
                <td>
                  <div class="input-group input-group-sm">
                    <select class="form-control form-control-sm controlMasivos" [disabled]="elemento.bloqueo" [(ngModel)]="elemento.cambio_id" (ngModelChange)="CambioRegistroMasivoOtro( elemento, $event )">
                      <option *ngFor="let elemento of controladorMunicipios.todos; let indiceTListaMunicipios = index" [ngValue]="elemento">{{elemento.descripcion}}</option>
                    </select>  
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-primary py-0 my-0"  (click)="ControlBloqueoMasivos(elemento)">
                        <i *ngIf="!elemento.bloqueo" class="fa fa-unlock" aria-hidden="true"></i>
                        <i *ngIf="elemento.bloqueo" class="fa fa-lock" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>                          

      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">

        <h5 class="text-center">Genero</h5>

        <div class="table-responsive tablaCambios">
          <table class="table table-sm table-striped table-fixed">
            <thead>
              <tr>
                <th scope="col">Valor Recibido</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Cambio</th>
              </tr>
            </thead>
            <tbody>        
              <tr *ngFor="let elemento of cambiosMasivos.genero; let indiceCambiosGeneros = index;">
                <td scope="row">{{ elemento.valor }}</td>
                <td>{{ elemento.cantidad }}</td>
                <td>
                  <div class="input-group input-group-sm">
                    <select class="form-control form-control-sm controlMasivos" [disabled]="elemento.bloqueo" [(ngModel)]="elemento.cambio_id" >
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                    </select>  
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-primary py-0 my-0"  (click)="ControlBloqueoMasivos(elemento)">
                        <i *ngIf="!elemento.bloqueo" class="fa fa-unlock" aria-hidden="true"></i>
                        <i *ngIf="elemento.bloqueo" class="fa fa-lock" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>                            

      </div>
      <div class="col-sm-6">

        <h5 class="text-center">Programa</h5>

        <div class="table-responsive tablaCambios">
          <table class="table table-sm table-striped table-fixed">
            <thead>
              <tr>
                <th scope="col">Valor Recibido</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Cambio</th>
              </tr>
            </thead>
            <tbody>        
              <tr *ngFor="let elemento of cambiosMasivos.programa; let indiceCambiosProgramas = index;">
                <td scope="row">{{ elemento.valor }}</td>
                <td>{{ elemento.cantidad }}</td>
                <td>
                  <div class="input-group input-group-sm">
                    <select class="form-control form-control-sm controlMasivos" [disabled]="elemento.bloqueo" [(ngModel)]="elemento.cambio_id" (ngModelChange)="CambioRegistroMasivoOtro( elemento, $event )">
                      <option *ngFor="let elemento of controladorProgramas.todos; let indiceTListaProgramas = index" [ngValue]="elemento">{{elemento.codigo}}</option>
                    </select>  
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-primary py-0 my-0"  (click)="ControlBloqueoMasivos(elemento)">
                        <i *ngIf="!elemento.bloqueo" class="fa fa-unlock" aria-hidden="true"></i>
                        <i *ngIf="elemento.bloqueo" class="fa fa-lock" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>        

      </div>                                                                      
    
    </div>

  </div>
  <div class="modal-footer "> 
    <button type="button" class="btn btn-primary" (click)="AplicarCambiosMasivos(modal)" [disabled]="PendientesMasivos()">Aplicar</button>
    <button type="button" ngbAutofocus  class="btn btn-outline-dark" (click)="modal.dismiss('NO')">Cancelar</button> 
  </div>
</ng-template>


