/* You can add global styles to this file, and also import other style files */
table{
    font-size: 0.8rem;
}

thead{
    background-color: #fde894;
}

.table td, .table th{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    vertical-align: middle;
}

.table .col-actions{
    width: 60px;
}





body {
    font-family: 'lato';
    /* overflow: auto;     */
    /* overflow-y: scroll; */
    overflow-x: hidden;
}

/* Set a style for all buttons */
.mibutton {
    background-color: #E4AC34;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
}
.buttonGeneral{
    margin-left: 10px;
    margin-right: 10px;
}

.mibutton:hover {
    background-color: #007bff;
    color: white;
}

.containerAgenda{
    padding: 2rem;
}



.contenedor{
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(0,0,0,0.04); /* Black w/ opacity */
}

.contenedor.roundUp {
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contenedor.roundDown {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
}




.tituloPrincipal {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

.tituloSecundario {
   text-align: center;
   color:white;
   font-size: 20px;
   margin-bottom: 20px;
}

h1{
    font-family: 'lato';
    color: #00529b;
}

html, body { height: 100%; }


.row{
    font-size: 15px ;
}


.colums{
    background-color: #fde894;

}

.light-blue-backdrop {
    background-color: #fde894;
  }




.modal-header{
    background-color: #00529b;
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.modal-title{
    color: white;
    /* font-size: 20px; */

}



.btn.btn-outline-warning{
    color: black;
    border-radius: 20%;
}

.btn.btn-outline-warning:hover{
    background-color: #fde894;
    color: black;
    
}




.form{
    /* display: flex;
    align-items: baseline; */
    background-color: #fde894;
    /* padding: .5rem;
    line-height: 0; */

}
.search{
    padding: 3px;
}




.blackout{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

.blackout .spinner{
   position: relative;
   top:40%;
   left: 40%;
   width: 10rem; 
   height: 10rem;
}




.custom-checkbox label{
    left: 1rem;
  }

.custom-checkbox {
    padding: 0;
}
