/* You can add global styles to this file, and also import other style files */
table{
    font-size: 12px;
}
body {font-family: 'lato';}

/* Set a style for all buttons */
.mibutton {
    background-color: #E4AC34;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
}
.buttonGeneral{
    margin-left: 10px;
    margin-right: 10px;
}

.mibutton:hover {
    background-color: #007bff;
    color: white;
}

#filtro{
    width: 90%;
    height: auto;

}

.containerAgenda{
    padding: 2rem;
}

.container {
    padding: 10px;
}

/* .container.contenido {
    background-color:rgb(255, 255, 255, 0.9);
}

.container.opcionesPie{
    background-color:rgba(226, 226, 226, 0.9);
} */

.container.roundUp {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.container.roundDown {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tituloPrincipal {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}



.tituloSecundario {
   text-align: center;
   color:white;
   font-size: 20px;
   margin-bottom: 20px;
}

h1{
    font-family: 'lato';
    padding: 1rem;
    display: BLOCK;
    color: #00529b;
}
html, body { height: 100%; }

.row{
    font-size: 15px ;
}


.colums{
    background-color: #fde894;

}

.light-blue-backdrop {
    background-color: #fde894;
  }

.modal-header{
    background-color: #00529b;
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.modal-title{
    color: white;
    /* font-size: 20px; */

}



.btn.btn-outline-warning{
    color: black;
    border-radius: 20%;
}

.btn.btn-outline-warning:hover{
    background-color: #fde894;
    color: black;
    
}

table{
    font-size: 15px;
}

thead{
    background-color: #fde894;

}

.form{
    display: flex;
    align-items: baseline;
    background-color: #fde894;
    padding: .5rem;
    line-height: 0;

}
.search{
    padding: 3px;
}
