/* You can add global styles to this file, and also import other style files */

body {font-family: 'lato';}

/* Set a style for all buttons */
.mibutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.mibutton:hover {
    opacity: 0.8;
}

.container {
    padding: 10px;
}

.container.contenido {
    background-color:rgb(255, 255, 255, 0.9);
}

.container.opcionesPie{
    background-color:rgba(226, 226, 226, 0.9);
}

.container.roundUp {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.container.roundDown {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tituloPrincipal {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

.tituloPrincipal .nombre {
   color: #ffce00;
   font-size: 40px ;
}


.tituloSecundario {
   text-align: center;
   color: #000000;
}

h1{
    font-family: 'lato';
    padding: 1rem;
    display: BLOCK;
    color: #00529b;
}