<!-- modal contenedor -->
<div id="div_login_modal" class="modal" >

    <div class="modal-content animate">
        <!-- contenedor de imagen -->

        <div class="titlecontainer" >
            
            <div class="logocontainer">
                <!-- <strong> -->
                <img src="../../../../assets/imagenes/logo_uniminuto.png" alt="Avatar" class="avatar">
                
                <div class="nombre col-md-2">
                    <strong>S.In.G.U.S</strong>
                </div>
                    
            
                <!-- </strong> -->
            </div>

            <div id="descripcion">Sistema de Información de Graduados Uniminuto para Seguimiento</div>
            
        </div>

         <!-- contenedor para procesos -->
        <div class="contenido">
            <!-- <router-outlet></router-outlet> -->

            
            <div *ngIf="datosAmbiente.inicioModo == 2">
                <app-inicio-loguear></app-inicio-loguear>
            </div>
            
            <div *ngIf="datosAmbiente.inicioModo == 1">

                <!-- <div *ngIf="datosAmbiente.inicioPaso == 1 || datosAmbiente.inicioPaso == 2">
                    <app-inicio-registrar-administrador></app-inicio-registrar-administrador>
                </div> -->

                <div *ngIf="datosAmbiente.inicioPaso == 3">
                    <app-inicio-validar-codigo></app-inicio-validar-codigo>
                </div>
                
                <div *ngIf="datosAmbiente.inicioPaso == 1">
                    <app-cambiar-clave></app-cambiar-clave>
                </div>

            </div>

            <div *ngIf="datosAmbiente.inicioModo == 3">

                <div *ngIf="datosAmbiente.inicioPaso == 1">
                    <app-inicio-recuperar-clave></app-inicio-recuperar-clave>
                </div>

                <div *ngIf="datosAmbiente.inicioPaso == 2">
                    <app-inicio-validar-codigo></app-inicio-validar-codigo>
                </div>

                <div *ngIf="datosAmbiente.inicioPaso == 3">
                    <app-cambiar-clave></app-cambiar-clave>
                </div>                
            </div>      
            

        </div>
         

    </div>

</div>
