<nav class="main-menu">
    <ul>


                    <li *ngFor="let grupo of nuevoMenu">
                        <a href="">
                                <i class="fa {{grupo.icono}}  fa-2x"></i>
                        
                                <span class="nav-text">
                                        {{grupo.nombre}}
                                </span>
                        </a>
                    </li>
    </ul>                  
    <ul class="logout">
        <li>
           <a href="#">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>
