<nav class="main-menu">
    <ul class="dropdown">
        <li *ngFor="let grupo of nuevoMenu" >
            <a href="" class="icon-menu">
                    <i class="fa {{grupo.iconoP}}  fa-2x"></i>
            
                    <span class="nav-text">
                            {{grupo.nombre}}
                    </span>
            </a>
            <ul >

                <li *ngFor="let opcionActual of grupo.opciones" class="opciones">
                    <a routerLink={{opcionActual.url}} (click)="Reiniciar()">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text"><span class="fa {{opcionActual.icon}}  fa-2x"></span>{{opcionActual.opcion}}</span>
                    </a>
                </li>
            
            </ul>
        </li>
    </ul>                  
    <ul class="logout">
        <li>
           <a href="#" (click)="CerrarSesion()">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>
