<nav class="main-menu">
  <ul class="dropdown mt-2">
    <li *ngFor="let grupo of nuevoMenu">
      <a class="icon-menu">
          <i class="icon fa {{grupo.iconoP}} fa-lg" aria-hidden="true"></i> <span class="nav-text">{{grupo.nombre}}</span>
      </a>
      <ul>
        <li *ngFor="let opcionActual of grupo.opciones" class="opciones">
          <a [routerLink]=" opcionActual.parametros==null ? [opcionActual.url] : [opcionActual.url, opcionActual.parametros] " skipLocationChange=true  (click)="Reiniciar()">
            <div class="d-flex flex-row">
                <div class="icon ">&nbsp;</div>
                <div class="subicon fa {{opcionActual.icon}} fa-lg">&nbsp;</div>
                <div>{{opcionActual.opcion}}</div>
            </div>
          </a>
        </li>
      </ul>
    </li>
  </ul>                  
  <ul class="logout mb-2">
    <li>
      <a class="icon-menu" href="#" (click)="CerrarSesion()">
        <i class="icon fa fa-power-off fa-lg" aria-hidden="true"></i> <span class="nav-text">Cerrar Sesión</span>
      </a>
    </li>  
  </ul>
</nav>
