.icon{
    width: 36px;
    text-align: center;
}

.subicon{
    width: 30px;
    text-align: center;
}

.main-menu:hover,nav.main-menu.expanded {
width:210px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

}

.main-menu {
background:rgb(22, 38, 68);
/* border-right:1px solid #e5e5e5; */
position:sticky;
top:0;
bottom:0;

left:0;
width:42px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
overflow-x: none;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;

/* border-width: 3px solid; */
border: 3px solid ;
border-color: #fff;
/* border-top-width: 20px; */
}


.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
/* color:yellow; */
/* font-family: 'Titillium Web', sans-serif; */
font-weight: bold;
font-size: 14px;

}

.nav-text{
    color: #f3ce32;
}


a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.main-menu li:hover>a { 
color:white;
}

.main-menu li:hover> .icon-menu{
    color:rgb(133, 180, 250);
}

.main-menu li>a { 
    color:white;
    }




.aop{
    color:white;
}
.aop:hover{
     color:white;
}
.opciones{
    display:table-cell;
    vertical-align:middle;
    font-size: 2em;
    color:white;
    font-family: 'lato';
    padding-top: 3px;
}
.opciones:hover{
display:table-cell;
vertical-align:middle;
font-size: 2em;
font-family: 'lato';
overflow: hidden;
padding-top: 3px;

border-bottom: 2px solid #f3ce32;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
